<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {include file="public:head" /}
    <!-- Theme style -->
    {css href="__CSS__/adminlte.min.css" /}
    <!-- Custom style -->
    {css href="__CSS__/application.css" /}
    <!-- Ionicons -->
    {css href="__CSS__/ionicons.min.css" /}

    <!-- jQuery -->
    {js href="__PLUGIN__/jquery/jquery.min.js" /}
    {js href="__PLUGIN__/layer/layer.js" /}
    <!-- Bootstrap Table -->
    {css href="__PLUGIN__/bootstrap-table/bootstrap-table.min.css" /}
    {css href="__PLUGIN__/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.min.css" /}
    {css href="__PLUGIN__/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.min.css" /}
    {js href="__PLUGIN__/bootstrap-table/bootstrap-table.min.js" /}
    {js href="__PLUGIN__/bootstrap-table/extensions/cookie/bootstrap-table-cookie.min.js" /}
    {js href="__PLUGIN__/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.min.js" /}
    {js href="__PLUGIN__/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.min.js" /}
    <!-- Bootstrap 4 -->
    {js href="__PLUGIN__/bootstrap/js/bootstrap.bundle.min.js" /}
    {js href="__JS__/adminlte.min.js" /}
    {js href="__JS__/init.js" /}
    {js href="__JS__/application.js" /}

    <!-- 加载 Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.full.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">
        <input type="hidden" id="from_panel" value="{$from_panel}">
        <input type="hidden" id="consultantId" value="{$consultantId|default=''}">
        <input type="hidden" id="beauticianId" value="{$beauticianId|default=''}">
        <input type="hidden" id="id" value="{$id|default=''}">
        <div class="card-body">
            <div class="row pt-2">
                
                <div class="col-xs-12 col-md-12 d-flex justify-content-between">
                    <div class="col-md-6">
                        <p class="text-primary">顧問</p>
                        <table id="users-grid" class="table-striped datatable" width="100%">

                        </table>
                    </div>
                    <div class="col-md-6">
                        <p class="text-primary">顧問 / 美容師</p>
                        <table id="beauty-grid" class="table-striped datatable" width="100%">

                        </table>
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 pt-2">
                    <div class="row">
                        <div class="col-lg-12" align="center">
                            <button class="btn flat btn-info btn-sm submit">
                                <i class=" fa fa-file-alt"></i>
                                Submit
                            </button>

                            <button class="btn btn-default btn-sm">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>   
<script type="text/javascript">

    function usersInput(value, row, index) {
        return [
            '<input class="form-control form-control-sm" type="text" id="' + row.uid + '" value="' + row.commission_rate + '">'
        ].join("");
    }

    $(document).ready( function (){
    let ids = $("#ids").val();

    $('#users-grid').bootstrapTable({
        url: '/index/users/lists',            //请求后台的URL（*）
        method: 'get',                                   //请求方式（*）
        queryParams: function (params) {
            return {
                offset: params.offset,  //页码
                limit: params.limit,   //页面大小
                search : params.search, //搜索
                order : params.order, //排序
                ordername : params.sort, //排序
                filter: params.filter,
                ids: $("#consultantId").val(),
                type: 1,
                id: $("#id").val(),
                from_panel: $("#from_panel").val(),
                category: 'CONSULTANT'
            };
        },
        contentType: 'text/html',
        classes: 'table table-bordered table-hover table-sm',
        // toolbar: "#users-toolbar",                    //工具按钮用哪个容器
        pagination: false,                                //是否显示分页（*）
        sidePagination:'server',                         //分页方式：client客户端分页，server服务端分页（*）
        buttonsClass:"btn-sm btn btn-sm btn-default",
        striped: true,                                   //是否显示行间隔色
        cookie: true,
        cookieIdTable: 'users-Grid',
        showRefresh: false,                               //是否显示刷新按钮
        showColumns: false,                               //是否显示所有的列
        clickToSelect: true,                            //是否在单击行时选择复选框或radiobox
        stickyHeader: true,
        stickyHeaderOffsetLeft: '3em',
        stickyHeaderOffsetRight: '3em',
        filterControl: false,
        search: false,                                   //显示搜索框
        sortable: true,
        pageSize: 10,                                    //每页的记录行数（*）
        pageList: [10, 20, 50, 100],
        singleSelect: false,                              //开启单选,想要获取被选中的行数据必须要有该参数
        columns: [{
            field: 'checked',
            checkbox: true,
            clickToSelect: true,
            width: '15',
            widthUnit: '%'
        }, {
            field: 'for_short',
            title: '名稱',
            clickToSelect: true,                        //是否在单击行时选择复选框或radiobox
            width: '55',
            widthUnit: '%'
        }, {
            field: 'commission_rate',
            title: '%',
            clickToSelect: true,
            width: '30',
            widthUnit: '%',
            formatter: usersInput
        }],
        onCheck: function (row, element) {
            let index = element[0].dataset.index;
            mathRate('#users-grid', index, '顧問');
        },
        onUncheck: function (row, element) {
            let index = element[0].dataset.index;
            $("#" + row.uid).val('');
            mathRate('#users-grid', index, '顧問');
        }
    });


    $('#beauty-grid').bootstrapTable({
        url: '/index/users/lists',            //请求后台的URL（*）
        method: 'get',                                   //请求方式（*）
        queryParams: function (params) {
            return {
                offset: params.offset,  //页码
                limit: params.limit,   //页面大小
                search : params.search, //搜索
                order : params.order, //排序
                ordername : params.sort, //排序
                filter: params.filter,
                ids: $("#beauticianId").val(),
                type: 2,
                id: $("#id").val(),
                from_panel: $("#from_panel").val(),
                category: 'COSMETOLOGIST'
            };
        },
        contentType: 'text/html',
        classes: 'table table-bordered table-hover table-sm',
        // toolbar: "#users-toolbar",                    //工具按钮用哪个容器
        pagination: false,                                //是否显示分页（*）
        sidePagination:'server',                         //分页方式：client客户端分页，server服务端分页（*）
        buttonsClass:"btn-sm btn btn-sm btn-default",
        striped: true,                                   //是否显示行间隔色
        cookie: true,
        cookieIdTable: 'users-Grid',
        showRefresh: false,                               //是否显示刷新按钮
        showColumns: false,                               //是否显示所有的列
        clickToSelect: true,                            //是否在单击行时选择复选框或radiobox
        stickyHeader: true,
        stickyHeaderOffsetLeft: '3em',
        stickyHeaderOffsetRight: '3em',
        filterControl: false,
        search: false,                                   //显示搜索框
        sortable: true,
        pageSize: 10,                                    //每页的记录行数（*）
        pageList: [10, 20, 50, 100],
        singleSelect: false,                              //开启单选,想要获取被选中的行数据必须要有该参数
        columns: [{
            field: 'checked',
            checkbox: true,
            clickToSelect: true,
            width: '15',
            widthUnit: '%'
        }, {
            field: 'for_short',
            title: '名稱',
            clickToSelect: true,                        //是否在单击行时选择复选框或radiobox
            width: '55',
            widthUnit: '%'
        }, {
            field: 'commission_rate',
            title: '%',
            clickToSelect: true,
            width: '30',
            widthUnit: '%',
            formatter: usersInput
        }],
        onCheck: function (row, element) {
            let index = element[0].dataset.index;
            mathRate('#beauty-grid', index, '顧問 / 美容師');
        },
        onUncheck: function (row, element) {
            let index = element[0].dataset.index;
            $("#" + row.uid).val('');
            mathRate('#beauty-grid', index, '顧問 / 美容師');
        }
    });

    $(".submit").click(function(){
        let from_panel = $("#from_panel").val();
        let consultants = $("#users-grid").bootstrapTable('getAllSelections');
        let beauty = $("#beauty-grid").bootstrapTable('getAllSelections');
        // if(rows.length<=0){
        //     alert("请选择一行");
        //     return;
        // }else {
            let nodes = '';
            // if (from_panel == 'invoices') {
                parent.$(".beautician").empty();

                // let number = parent.$(".seller").length;
                // ids = ids.split(",");

                let conLen = consultants.length,
                    beaLen = beauty.length;

                if (conLen > 0) {

                    nodes += '<p id="consultant">';
                    $.each(consultants, function(index, element){

                        // if (ids.indexOf(element.uid.toString()) == -1) {
                        nodes += '<input type="hidden" name="seller[' + index + '][seller_id]" value="' + element.uid + '"><input type="hidden" name="seller[' + index + '][seller_type]" value="1"><input type="hidden" name="seller[' + index + '][commission_rate]" value="' + $("#"+element.uid).val() + '">' + element.for_short + '<span class="text-primary">(' + $("#"+element.uid).val() + '%)</span>, ';
                        // }

                    });
                    nodes = nodes.substr(0, nodes.length-2);

                    nodes += '</p>';
                }

                if (beaLen > 0) {
                    nodes += '<p id="beauty">';
                    $.each(beauty, function (index, element) {

                        // if (ids.indexOf(element.uid.toString()) == -1) {
                        nodes += '<input type="hidden" name="seller[' + parseInt(index+conLen) + '][seller_id]" value="' + element.uid + '"><input type="hidden" name="seller[' + parseInt(index+conLen) + '][seller_type]" value="2"><input type="hidden" name="seller[' + parseInt(index+conLen) + '][commission_rate]" value="' + $("#" + element.uid).val() + '">' + element.for_short + '<span class="text-primary">(' + $("#" + element.uid).val() + '%)</span>, ';
                        // }

                    });
                    nodes = nodes.substr(0, nodes.length - 2);

                    nodes += '</p>';
                }

                if (conLen == 0 && beaLen ==0) {
                    nodes += '<input type="hidden" name="delSeller" value="1">';
                }

                parent.$(".beautician").append(nodes);
            // };
            

            //注意：parent 是 JS 自带的全局对象，可用于操作父页面
            let index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);
        // }
    });

    $(".btn-default").click(function(){
        let index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);
    });

});

function mathRate(table, index, category) {
    let rows = $(table).bootstrapTable('getSelections');
    // console.log(rows);
    let len = rows.length;

    if (len > 4) {
        layer.msg('最多只可以選擇4個' + category);
        $(table).bootstrapTable('uncheck', index);
    } else {
        let avg = (100 / len).toFixed(1);
        let value = avg;
        rows.forEach(function (i, ele) {
            if (ele == len-1) {
                value = (100 - avg * (len - 1)).toFixed(1);
            }
            $("#" + i.uid).val(value);
        })

    }
}

</script>
</html>