<!--<script src="../../../../../adsuite/static/js/application.js"></script>-->


<form id="itemForm" class="form-horizontal itemForm" action="" method="post"
      enctype="multipart/form-item">


    <div class="form-group row">
            <div class="col-11">
                <a class="btn flat btn-sm btn-default BackButton" href="{:url('index')}">
                    <i class="fa fa-arrow-left"></i>
                    返回
                </a>
            </div>

         <div class="col-auto">
                <button type="submit"class=" far fa-file-alt  btn flat btn-info itemFormSubmit  btn-sm  ">
                    保存
                </button>
          </div>
    </div>

    <div class="form-group row pt-2" style="align-items: baseline;">
        <div class="col-xs-12 col-md-4">

            <div class="form-group row">
                <label class="col-md-3 control-label" for="code">編號</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" readonly="true" id="code" name="code"
                           value="{$item.code|default=''}"
                           placeholder="auto assign later">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 control-label" for="status">狀態</label>
                <div class="col-md-7">
                    <select class="form-control select2" type="text" id="status" name="status">
                        <option value="">&nbsp;</option>
                        {foreach name=":getOptions('status')" id='opt'}
                        <option value="{$opt.val}" {if isset($item) &&
                                $item.status==$opt.val}selected{/if}>
                            {$opt.name}
                        </option>
                        {/foreach}
                    </select>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 control-label"
                       for="barcodes">條碼</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="barcodes" name="barcodes"
                           value="{$item.barcodes|default=''}">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 control-label" for="opt">分類</label>
                <div class="col-md-7">
                    <select class="form-control select2" type="text" id="opt" name="opt">
                        <option value="">&nbsp;</option>
                        {foreach name=":getOptions('opt')" id='opt'}
                        <option value="{$opt.id}" {if isset($item) &&
                                $item.opt==$opt.id}selected{/if}>
                            {$opt.name}
                        </option>
                        {/foreach}
                    </select>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 control-label" for="categors">類別</label>
                <div class="col-md-7">
                    <select class="form-control select2" type="text" id="categors" name="categors">
                        <option value="">&nbsp;</option>
                        {foreach name=":getOptions('categors')" id='opt'}
                        <option value="{$opt.id}" {if isset($item) &&
                                $item.categors==$opt.id}selected{/if}>
                            {$opt.name}
                        </option>
                        {/foreach}
                    </select>
                </div>
            </div>



            <div class="form-group row">
                <label class="col-md-3 control-label" for="last_name">名稱(中文)</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="last_name" name="last_name"
                           value="{$item.last_name|default=''}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 control-label" for="first_name">名稱(英文)</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="first_name" name="first_name"
                           value="{$item.first_name|default=''}">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 control-label" for="salutation">性別</label>
                <div class="col-md-7">
                    <select class="form-control" id="salutation" name="salutation" size="1"
                            value="{$item.salutation|default=''}">
                        <option value="0" {if isset($item)&&$item.salutation == 0}selected{/if}>男</option>
                        <option value="1" {if isset($item)&&$item.salutation == 1}selected{/if}>女</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 control-label" for="date_of_birth">出生日期</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="date_of_birth" name="date_of_birth"
                           value="{$item.date_of_birth|default=''}"
                          >
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 control-label" for="identity_card">身份證號碼</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="identity_card" name="identity_card"
                           value="{$item.identity_card|default=''}">
                </div>
            </div>

        </div>


        <div class="col-xs-12 col-md-4">
		
		
            <div class="form-group row">
                <label class="col-md-3 control-label" for="phone_mobile">手提電話</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="phone_mobile"
                           name="phone_mobile"
                           value="{$item.phone_mobile|default=''}">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 control-label" for="phone_work">住宅電話</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="phone_work" name="phone_work"
                           value="{$item.phone_work|default=''}">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 control-label" for="email1">電郵地址</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="email1" name="email1"
                           value="{$item.email1|default=''}"
                           >
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 control-label" for="region">地區</label>
                <div class="col-md-7">
                    <select class="form-control select2" type="text" id="region" name="region">
                        <option value="">&nbsp;</option>
                        {foreach name=":getOptions('region')" id='opt'}
                        <option value="{$opt.id}" {if isset($item) &&
                                $item.region==$opt.id}selected{/if}>
                            {$opt.name}
                        </option>
                        {/foreach}
                    </select>
                </div>
            </div>
			
		
			
			
            <div class="form-group row">
                <label class="col-md-3 control-label" for="expiry_date">地址</label>
                <div class="col-md-7">
                            <textarea class="form-control" id="expiry_date" name="expiry_date"
                                      size="1"
                                      value=""
                                      placeholder="{$item.expiry_date|default=''}">{$item.expiry_date|default=''}</textarea>
                </div>
            </div>



            <div class="form-group row">
                <label class="col-md-3 control-label" for="remark">備註</label>
                <div class="col-md-7">
                            <textarea class="form-control" id="remark" name="remark"
                                      size="1"
                                      value=""
                                      placeholder="{$item.remark|default=''}">{$item.remark|default=''}</textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 control-label" for="reservation_remarks">預約備註</label>
                <div class="col-md-7">
                            <textarea class="form-control" id="reservation_remarks" name="reservation_remarks"
                                      size="1"
                                      value=""
                                      placeholder="{$item.reservation_remarks|default=''}">{$item.reservation_remarks|default=''}</textarea>
                </div>
            </div>
			
				   <div class="form-group row">
                <label class="col-md-3 control-label" for="wa_acc">whatsapp 號碼</label>
                <div class="col-md-7">
                    <select class="form-control select2" type="text" id="wa_acc" name="wa_acc">
                        <option value="">&nbsp;</option>
                        {foreach name=":getWaAcc()" id='opt'}
                        <option value="{$opt.mobile}" {if isset($item) && $opt.mobile==$item.wa_acc}selected{/if}>
                            {$opt.mobile}
                        </option>
                        {/foreach}
                    </select>
                </div>
            </div>

        </div>


        <div class="col-xs-12 col-md-4">
            <div class="form-group row">
                <label class="col-md-3 control-label" for="date_of_accession">加入日期</label>
                <div class="col-md-7">
                    <input class="form-control datePicker" type="text" id="date_of_accession"
                           name="date_of_accession"
                           value="{$item.date_of_accession|default=''}"  >
                </div>
            </div>



            <div class="form-group row">
                <label class="col-md-3 control-label" for="category">接收推廣訊息</label>
                <div class="col-md-7">

                    <select class="form-control" id="category" name="category" size="1"
                            value="{$item.category|default=''}">
                        <option value="0">同意</option>
                        <option value="1">不同意</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 control-label" for="store_id">店鋪</label>
                <div class="col-md-7">
                    <select name="store_id" id="store_id" class="form-control">
                        <option value=""></option>
                        {volist name="storeArr" id="store"}
                        <option value="{$store.id}" {if isset($item) &&
                                $item.store_id==$store.id}selected{/if}>{$store.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>




            <div class="form-group row">
                <label class="col-md-3 control-label" for="register_date">營業員</label>
                <div class="col-md-7">
                    <select class="form-control select2" type="text" id="register_date" name="register_date">
                        <option value="">&nbsp;</option>
                        {foreach name=":getOptions('register_date')" id='opt'}
                        <option value="{$opt.id}" {if isset($item) &&
                                $item.register_date==$opt.id}selected{/if}>
                            {$opt.name}
                        </option>
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 control-label" for="source">來源</label>
                <div class="col-md-7">
                    <select class="form-control select2" type="text" id="source" name="source">
                        <option value="">&nbsp;</option>
                        {foreach name=":getOptions('source')" id='opt'}
                        <option value="{$opt.id}" {if isset($item) &&
                                $item.source==$opt.id}selected{/if}>
                            {$opt.name}
                        </option>
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 control-label" for="source_notes">來源備註</label>
                <div class="col-md-7">
                            <textarea class="form-control" id="source_notes" name="source_notes"
                                      size="1">{$item.source_notes|default=''}</textarea>
                </div>
            </div>




            <div class="form-group row">
                <label class="col-md-3 control-label" for="education_level">教育程度</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="education_level" name="education_level"
                           value="{$item.education_level|default=''}">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 control-label" for="occupation">職業</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="occupation" name="occupation"
                           value="{$item.occupation|default=''}">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 control-label" for="income">收入</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="income" name="income"
                           value="{$item.income|default=''}"   >
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 control-label" for="signature">簽名</label>
                <div class="col-md-7">
                            <textarea class="form-control" id="signature" name="signature"
                                      size="1">{$item.signature|default=''}</textarea>
                </div>
            </div>

        </div>
    </div>
</form>
<!--
    </div>
</section>
{/block}
{block name="js"}
<script type="text/javascript">
    $(function () {
        $("#document").change(function () {
            let file = this.fields[0];
            $("#url").text(file.name)
        });

        $("#date_of_accession").daterangepicker({
            "singleDatePicker": true,
            "timePicker": true,
            "timePicker24Hour": true,
            "timePickerSeconds": true,
            "startDate": $("#date_of_accession").val() ? $("#date_of_accession").val() : moment().format("YYYY-MM-DD"),
            "locale": {
                "format": "YYYY-MM-DD HH:mm:ss",
            }
        }).on('apply.daterangepicker', function(ev, picker) {
            // console.log(picker.startDate.format('YYYY-MM-DD HH:mm:ss'));
            $("#date_of_accession").val(picker.startDate.format('YYYY-MM-DD'))
        });


        $(".btn-close").click(function(){
            let index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);
        });

    });



</script>
{/block}-->
