<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>{$current_permission.title}-{$sysConfig.sitename}</title>

    <meta name="keywords" content="{$sysConfig.keywords}" />
    <meta name="description" content="{$sysConfig.description}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    {include file="public:head" /}
    <!-- Custom style -->
    {block name="style"}{/block}
    <!-- Theme style -->
    {css href="__CSS__/adminlte.min.css" /}
    <!-- Custom style -->
    {css href="__CSS__/application.css" /}

    {block name="head_js"}{/block}
</head>
<body class="hold-transition sidebar-mini {$user.skin}">
<div class="wrapper">



    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header -->
        <section class="content-header">
        </section>


        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                {block name="content"}{/block}
            </div>
        </section>
    </div>

    <!-- Footer -->
    {include file="public:foot" /}

</div>
<!-- inline scripts related to this page -->
{block name="js"}
{/block}
</body>
</html>