<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Adaptive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
</head>
<body>

{js href="__PLUGIN__/jquery/jquery.min.js" /}
{js href="__PLUGIN__/layer/layer.js" /}
<!-- inline scripts related to this page -->
<script>
    parent.layer.msg("Success");
    var index = parent.layer.getFrameIndex(window.name);
    parent.layer.close(index);
</script>
</body>
</html>