{extend name='public/base' /}
{block name='content'}
<section class="content">
    <div class="container-fluid">
        <!--sub page--->
        <div class="card card-primary card-outline card-outline-tabs">
            <div class="card-body">
                <form id="dataForm" action="{:url('add')}" class="form-horizontal dataForm" action="" method="post"
                      enctype="multipart/form-data">
                {include file="stores/form" /}
                </form>
            </div>
            <!-- /.card -->
        </div>


    </div><!--/. container-fluid -->
</section>

{/block}