{extend name='public/base' /}
{block name='content'}

<section class="content" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">

        <!-- form content -->
        <div class="card">
            <div class="card-body">
                <form id="dataForm" class="form-horizontal dataForm" action="" method="post"
                      enctype="multipart/form-data">
                    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->

                    <div class="form-group row">
                        <div class="col-lg-10">
                            <a class="btn flat btn-sm btn-default BackButton" href="index.html">
                                <i class="fa fa-arrow-left"></i>
                                Back
                            </a>
                        </div>

                        <div class="col-lg-2">
                            <button type="submit"class=" far fa-file-alt  btn flat btn-info dataFormSubmit  btn-sm  ">
                                Save
                            </button>

                            <button type="submit" class="fa fa-trash  btn flat btn-danger  dataFormSubmit btn-sm">
                                Delete
                            </button>
                        </div>
                    </div>


                    <div class="row pt-2">
                        <div class="col-xs-12 col-md-12">

                            <div class="form-group row ">
                                <label class="col-md-1 control-label" for="id">ID</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" id="id" name="id"
                                           value="{$data.id|default=''}"
                                           >
                                </div>
                            </div>


                            <div class="form-group row ">
                                <label class="col-md-1 control-label" for="username">Username</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" id="username" name="username"
                                           value="{$data.username|default=''}"
                                           >
                                </div>
                            </div>


                            <div class="form-group row ">
                                <label class="col-md-1 control-label" for="log">Log</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" id="log" name="log"
                                           value="{$data.log|default=''}"
                                           >
                                </div>
                            </div>

                            <div class="form-group row ">
                                <label class="col-md-1 control-label" for="ip">Ip</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" id="ip" name="ip"
                                           value="{$data.ip|default=''}"
                                           >
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 control-label"for="comment">Comment</label>
                                <div class="col-md-8 ">
                                  <textarea class="form-control" id="comment" name="content"
                                            rows="10"
                                            value="{$data.comment|default=''}">{$data.comment|default=''}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    /** 表单验证 **/
    $('#dataForm').validate({
        rules: {
            'name': {
                required: true,
            },

        }
    });
</script>
{/block}