{extend name="public/base" /}
{block name='content'}

<!--数据列表页面-->
<section class="content">

    <!--顶部搜索筛选-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!--数据列表顶部-->
                <div class="card-header ">
                    <div>
                        <a title="Add" onclick="modify()" class="btn btn-primary btn-sm " href="#">
                            <i class="fa fa-plus"></i> 新增
                        </a>

                        <a class="btn btn-default btn-sm ReloadButton" title="Refresh" href="index.html">
                            <i class="fa fa-refresh"></i> 刷新
                        </a>


                        <div class=" float-right ">
                            <form class="form-inline searchForm" id="searchForm" action="{:url('expenses/index')}"
                                  method="GET">
                                <input type="hidden" value="0" id="export_data" name="export_data">
                                <div class="form-group pr-1">
                                    <input type="text" name="search" id="search" class="form-control"
                                           placeholder="Search"
                                           value="{$search|default=''}">
                                </div>

                                <div class="form-group pr-1">
                                    <button class="btn btn-sm btn-primary" type="submit"
                                            onclick="$('#export_data').val(0)"><i class="fa fa-search"></i>
                                        搜索
                                    </button>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-sm btn-success exportData"
                                            type="submit" onclick="$('#export_data').val(1)"><i
                                            class="fa fa-file-excel-o"></i>&nbsp;導出
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div> <!-- card-header -->


                <div class="card-body table-responsive">
                    <table class="table table-hover table-bordered datatable" data-toggle="table" width="100%">
                        <thead>
                        <tr>
                            <th>編號</th>
                            <th>日期</th>
                            <th>店鋪</th>
                            <th>總金額</th>

                            <th>操作</th>


                        </tr>
                        </thead>
                        <tbody>
                        {foreach name="data" id="item"}
                        <tr>

                            <td>{$item.code}</td>
                            <td>{$item.expense_time}</td>
                            <td>{$item.store_name}</td>
                            <td>{$item.total}</td>


                            <td class="td-do">
                                <a href="#" onclick="modify('{$item.id}')" class="btn btn-primary btn-xs">
                                    <i class="fa fa-pencil"></i>
                                </a>

                                <a class="btn btn-danger btn-xs AjaxButton" href="{:url('del',['id'=>$item.id])}"
                                   title="Delete" onclick="if(confirm('Are you sure to delete?')==false)return false;">
                                    <i class="fa fa-trash"></i>

                                </a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                <!-- 数据列表底部 -->
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</section>
{/block}

{block name="js"}
<script type="text/javascript">


    function modify(id) {
        let height = document.documentElement.clientHeight;
        let width = document.documentElement.clientWidth;
        if (width > 1000) {
            width = 1000;
        }

        let url = '{:url("expenses/add")}';
        if (id) {
            url = '{:url("expenses/edit?id=")}' + id;
        }

        layer.open({
            type: 2,
            title: 'Expense Detail',
            maxmin: true,
            area: [width + 'px', height + 'px'],
            content: url
        });
    }


</script>


{/block}
