{extend name="public/base" /}
{block name='content'}

<!--数据列表页面-->
<section class="content">

    <!--顶部搜索筛选-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!--数据列表顶部-->
<!--                <div class="card-header ">-->
<!--                    <div>-->
<!--                        <div class="float-left">-->
<!--                            <form class="form-inline searchForm" id="" action="{:url('transfers/index')}"-->
<!--                                  method="get">-->
<!--                                <input type="hidden" value="0" id="" name="export_data">-->
<!--                                <div class="input-group  pr-1">-->
<!--                                    當前倉庫：<select class="form-control"  name="" id="">-->
<!--                                    <option value=""></option>-->
<!--                                    {volist name="warehouse" id="wh"}-->
<!--                                    <option value="{$wh.id}">{$wh.name}</option>-->
<!--                                    {/volist}-->
<!--                                </select>-->
<!--                                </div>-->


<!--&lt;!&ndash;                                <div class="input-group pr-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <button class="btn  btn-primary btn-sm" type="submit" onclick="$('#export_data').val(0)">&ndash;&gt;-->
<!--&lt;!&ndash;                                        搜索&ndash;&gt;-->
<!--&lt;!&ndash;                                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <button class="btn btn-sm btn-success exportData"&ndash;&gt;-->
<!--&lt;!&ndash;                                            type="submit" onclick="$('#export_data').val(1)"><i&ndash;&gt;-->
<!--&lt;!&ndash;                                            class="fa fa-file-excel-o"></i>&nbsp;導出&ndash;&gt;-->
<!--&lt;!&ndash;                                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                            </form>-->
<!--                            當前倉庫：<select class="form-control"  name="" id="">-->
<!--                                <option value=""></option>-->
<!--                                {volist name="warehouse" id="wh"}-->
<!--                                <option value="{$wh.id}">{$wh.name}</option>-->
<!--                                {/volist}-->
<!--                            </select>-->
<!--                        </div>-->
<!--&lt;!&ndash;                        <a title="Add" onclick="doc()" class="btn btn-primary btn-sm " href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                            <i class="fa fa-plus"></i> 新增&ndash;&gt;-->
<!--&lt;!&ndash;                        </a>&ndash;&gt;-->
<!--                        <div class=" float-right ">-->
<!--                            <form class="form-inline searchForm" id="searchForm" action="{:url('transfers/index')}"-->
<!--                                  method="get">-->
<!--                                <input type="hidden" value="0" id="export_data" name="export_data">-->
<!--                                <div class="input-group  pr-1">-->
<!--                                    <input type="text" name="search" id="search" class="form-control"-->
<!--                                           placeholder="Search"-->
<!--                                           value="{$search|default=''}">-->
<!--                                </div>-->

<!--                                <div class="input-group pr-1">-->
<!--                                    <button class="btn  btn-primary btn-sm" type="submit" onclick="$('#export_data').val(0)">-->
<!--                                        搜索-->
<!--                                    </button>-->
<!--                                </div>-->

<!--                                <div class="form-group">-->
<!--                                    <button class="btn btn-sm btn-success exportData"-->
<!--                                            type="submit" onclick="$('#export_data').val(1)"><i-->
<!--                                            class="fa fa-file-excel-o"></i>&nbsp;導出-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div> &lt;!&ndash; card-header &ndash;&gt;-->
                <div class="card-body">
                    <div class="tab-content">
                        <div id="sell" class="tab-pane fade show active">
                            <div class="row pt-2">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label " for="vdate"> 日期 </label>
                                        <div class="col-xs-12 col-md-4">
                                            <input class="form-control datePicker" id="start_date" value="">
                                        </div>

                                        <label class="col-sm-2 control-label " for="store"> 貨倉 </label>
                                        <div class="col-xs-12 col-md-4">
                                            <select class="form-control" id="store" name="store" size="1"
                                                    value="">
                                                <option value="0"></option>
                                                <option value="1">銅鑼灣</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>


                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label " for="store"> 店鋪 </label>
                                        <div class="col-xs-12 col-md-4">
                                            <select class="form-control" id="store" name="store" size="1"
                                                    value="">
                                                <option value="0"></option>
                                                <option value="1">銅鑼灣</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label  " for="first_name">
                                            品牌 </label>
                                        <div class="col-xs-12 col-md-4">
                                            <select class="form-control" id="first_name" name="first_name" size="1"
                                                    value="">

                                                <option value="0">(以下所有)</option>
                                                {notempty name="item.users"}
                                                {volist name="item.users" id="val"}
                                                <option value="1">{$val.first_name}</option>

                                                {/volist}
                                                {/notempty}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body table-responsive">
                    <table class="table table-hover table-bordered datatable"  width="100%">
                        <thead>
                        <tr>
                            <th>
                                <input id="dataCheckAll" type="checkbox" onclick="checkAll(this)" class="checkbox"
                                       placeholder="All/Cancel">
                            </th>
                            <th>編號</th>
                            <th>名稱</th>
                            <th>型號</th>
                            <th>庫存量</th>
                            <th>點倉數量</th>
                            <th>備註</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            {foreach name="result" id="item"}
                            <tr>
                                <td>
                                    <input type="checkbox" onclick="checkThis(this)" name="data-checkbox"
                                           data-id="{$item.id}" class="checkbox data-list-check" value="{$item.id}"
                                           placeholder="Select/Cancel">
                                </td>
                                <td>{$item.code}</td>
                                <td>{$item.name}</td>
                                <td>{$item.type}</td>
                                <td>{$item.quantity}</td>
                                <td>
                                    <input type="number" id="check_number{$item.id}" class="form-control">
                                </td>
                                <td>
                                    <input type="text" id="des{$item.id}" class="form-control" placeholder="{$item.description}" value="{$item.description}">
                                </td>
                                <td class="td-do">
                                    <a  href="javascript:void(0)" onclick="doc('{$item.id}','check_number{$item.id}','des{$item.id}')"
                                        class="btn btn-primary btn-xs" title="Edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>

                <!-- 数据列表底部 -->
                <div class="card-footer">
                </div>

            </div>
        </div>
    </div>
</section>
{/block}



{block name="js"}
<script type="text/javascript" >

    window.operateEvents={
        "click .edit" : function(e,value,row,index){doc(row.id)},
        "click .del" : function(e,value,row,index){del(row.id)}
    }

    function operateFormatter(value,row,index){
        return [
            '<a class="btn btn-primary btn-xs edit" href="#"><i class="fa fa-pencil"></i></a>',
            '<a class="btn btn-danger btn-xs del" href="#"><i class="fa fa-trash"></i></a>',
        ].join('&nbsp;&nbsp;');
    }

    function doc(id,check,description){
        let checkNumber = $("#"+check).val();
        let des = $("#"+description).val();
        $.ajax({
            url: '{:url("warehouseProducts/edit")}',
            data: {
                id:id,
                quantity:checkNumber,
                description:des,
            },
            type: "POST",
            success(res){
                if(res.code == 200){
                    location.reload();
                }
            }
        })

    }

</script>
{/block}

