    <div id="packages-toolbar" class=" d-flex align-items-center">
        <select name="status" id="package_status" class="form-control select2 col-md-2 col-lg-1 col-xl-1" style="width: 100%;">
            <option value="">（所有狀態）</option>
            <option value="發售中">發售中</option>
            <option value="停售">停售</option>
        </select>

        <select name="field" id="package_field" class="form-control select2 ml-2 col-md-2 col-lg-1 col-xl-1" style="width: 100%;">
            <option value="code">編號</option>
            <option value="category">類別</option>
            <option value="name">名稱</option>
            <option value="summary">摘要</option>
        </select>

        <input type="text" class="form-control ml-2 col-md-3 col-lg-3 col-xl-3" id="package_keyword" name="keyword">

        <select name="parent_category" id="package_parent_category" class="form-control ml-2 col-md-2 col-lg-1 col-xl-1 hidden" style="width: 100%;">
            <option value="">（所有類別）</option>

        </select>
        <select name="category" id="package_category" class="form-control ml-2 col-md-2 col-lg-1 col-xl-1 hidden" style="width: 100%;">
            <option value="">（所有類別）</option>

        </select>

        <button class="btn btn-primary btn-sm ml-2 search" style="white-space: nowrap;">搜尋</button>

        <button title="Add" onclick="service_packages(0)" class="btn btn-primary btn-sm ml-2 d-flex align-items-center">
            <i class="fa fa-plus"></i> Add
        </button>
    </div>

    <table id="packages-grid" class="table-striped datatable" width="100%"></table>

{block name='js'}
    <script type="text/javascript">

        window.operateEvents={
            "click .edit" : function(e,value,row,index){service_packages(row.id)},
            "click .del" : function(e,value,row,index){del(row.id)}
        }

        function operateFormatter(value,row,index){
            return [
                '<a class="btn btn-primary btn-xs mr-1 edit" href="#"><i class="fa fa-pencil"></i></a>',
                '<a class="btn btn-danger btn-xs mr-1 del" href="#"><i class="fa fa-trash"></i></a>',
            ].join('');
        }
     
        function service_packages(id){
            let clientHeight = document.documentElement.clientHeight;
            let height = 780;
            if(height > clientHeight){
                height = clientHeight;
            }

            if (id) {
                var url = '{:url("service_packages/edit?id=")}' + id
            } else {
                var url = '{:url("service_packages/add")}'
            }
            layer.open({
                type: 2,
                title: 'Service Package Information',
                area: ['1000px', height + 'px'],
                content: url
            })
        }

        function del(id){
            // const that = $(this)
            if(confirm('Are you sure to delete?')==false){
                return false;
            }else{
                $.ajax({
                    url: "{:url('service_packages/del')}",
                    data: {
                        id: id,
                        from_panel: 1
                    },
                    type: "POST",
                    success(res){
                        if(res.code == 200){
                            $('#packages-grid').bootstrapTable('refresh');
                        }
                    }
                })
            }
        }

        $(function(){

            $('#packages-grid').bootstrapTable({
                url: '/index/service_packages/lists',            //请求后台的URL（*）
                method: 'get',                                   //请求方式（*）
                queryParams: function (params) {
                    return {
                        offset: params.offset,  //页码
                        limit: params.limit,   //页面大小
                        search : params.search, //搜索
                        order : params.order, //排序
                        sort : params.sort, //排序
                        filter: params.filter,
                        status: $("#package_status").val(),
                        field: $("#package_field").val(),
                        keyword: $("#package_keyword").val(),
                        parent_category_id: $("#package_parent_category").val(),
                        category_id: $("#package_category").val()
                    };
                },
                toolbar: "#packages-toolbar",                    //工具按钮用哪个容器
                pagination: true,                                //是否显示分页（*）
                sidePagination:'server',                         //分页方式：client客户端分页，server服务端分页（*）
                buttonsClass:"btn-sm btn btn-sm btn-default",
                striped: true,                                   //是否显示行间隔色
                cookie: true,
                cookieIdTable: 'packages-Grid',
                showRefresh: true,                               //是否显示刷新按钮
                showColumns: true,                               //是否显示所有的列
                clickToSelect: false,                            //是否在单击行时选择复选框或radiobox
                stickyHeader: true,
                stickyHeaderOffsetLeft: '3em',
                stickyHeaderOffsetRight: '3em',
                filterControl: false,
                search: false,                                   //显示搜索框
                pageSize: 10,                                    //每页的记录行数（*）
                pageList: [10, 20, 50, 100],
                columns: [{
                    checkbox: true,
                    clickToSelect: true
                }, {
                    field: 'code',
                    title: '編號',
                    width: "120px",
                    clickToSelect: true,                        //是否在单击行时选择复选框或radiobox
                    sortable: true,                              //是否允许列可以排序
                }, {
                    field: 'category',
                    title: '類別',
                    searchable: true,
                    formatter: cateFormatter
                }, {
                    field: 'name',
                    title: '名稱',
                }, {
                    field: 'status',
                    title: '狀態',
                }, {
                    field: 'price',
                    title: '售價',
                    sortable: true
                }, {
                    field: 'part',
                    title: '條碼',
                    visible: false, 
                    sortable: true
                }, {
                    field: 'operate',
                    title: '操作',
                    width: '80px',
                    clickToSelect: false,
                    events: operateEvents,
                    formatter: operateFormatter
                }, ],
            });

            $(".search").click(function () {
                $("#packages-grid").bootstrapTable('selectPage', 1).bootstrapTable('refresh');
            });

            $("#package_field").change(function () {
                if ($(this).val() == 'category') {
                    $("#package_keyword").addClass('hidden');
                    $("#package_parent_category").removeClass('hidden').select2();
                    $("#package_category").removeClass('hidden').select2();
                    initRolesParentCategory('package');

                } else {
                    $("#package_keyword").removeClass('hidden');
                    $("#package_parent_category").addClass('hidden').val('');
                    $("#package_category").addClass('hidden').val('');
                    if ($('#package_parent_category').data('select2')) {
                        $('#package_parent_category').select2('destroy');
                    }
                    if ($('#package_category').data('select2')) {
                        $('#package_category').select2('destroy');
                    }
                }
            })
        })

        function cateFormatter(value, row, index){
            let name = '';
            if (row.parent_category && row.parent_category.name) {
                name +=  row.parent_category.name;
            }
            if(row.category && row.category.name){
                name += '->' + row.category.name;
            }
            return name;
        }
    </script>
    {include file='public/content_common' /}

    {/block}
