<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Service Packages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {include file="public:head" /}
    <!-- Theme style -->
    {css href="__CSS__/adminlte.min.css" /}
    <!-- Custom style -->
    {css href="__CSS__/application.css" /}
    <!-- Ionicons -->
    {css href="__CSS__/ionicons.min.css" /}

    <!-- jQuery -->
    {js href="__PLUGIN__/jquery/jquery.min.js" /}
    {js href="__PLUGIN__/layer/layer.js" /}
    <!-- Bootstrap Table -->
    {css href="__PLUGIN__/bootstrap-table/bootstrap-table.min.css" /}
    {css href="__PLUGIN__/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.min.css" /}
    {css href="__PLUGIN__/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.min.css" /}
    {js href="__PLUGIN__/bootstrap-table/bootstrap-table.min.js" /}
    {js href="__PLUGIN__/bootstrap-table/extensions/cookie/bootstrap-table-cookie.min.js" /}
    {js href="__PLUGIN__/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.min.js" /}
    {js href="__PLUGIN__/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.min.js" /}
    <!-- Bootstrap 4 -->
    {js href="__PLUGIN__/bootstrap/js/bootstrap.bundle.min.js" /}
    {js href="__JS__/adminlte.min.js" /}
    {js href="__JS__/init.js" /}

    <!-- 加载 Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.full.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">
        <input type="hidden" id="from_panel" value="{$from_panel}">
        <input type="hidden" id="member_id" value="{$member_id}">
        <div class="card-body">
            <div class="row pt-2">
                
                <div class="col-xs-12 col-md-8">
                    <h5 style="color: #007bff;">服務套票</h5>
                    <table id="service_packages-grid" class="table-striped datatable" width="100%">
                        
                    </table>
                </div>

                <div class="col-xs-12 col-md-4">
                    <h5 style="color: #007bff;">可用服務</h5>
                    <table id="services-grid" class="table-striped datatable" width="100%">
                        
                    </table>
                </div>
            </div>

            <div class="row pt-2">

                <div class="col-xs-12 col-md-12 pt-2">
                    <div class="row">
                        <div class="col-lg-12" align="center">
                            <button class="btn flat btn-info btn-sm submit">
                                <i class=" fa fa-file-alt"></i>
                                Submit
                            </button>

                            <button class="btn btn-default btn-sm">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>   
<script type="text/javascript">
    let package_id, package_code, package_name, package_value, package_value_used, package_unit, selections = [], selectionIds = [], data, selectRow;

    function services(service_package_id, invoice_id, member_id, service_type){

        $('#services-grid').bootstrapTable({
            url: '/index/service_packages/service_lists',            //请求后台的URL（*）
            method: 'get',                                   //请求方式（*）
            queryParams: function (params) {
                return {
                    offset: params.offset,  //页码
                    limit: params.limit,   //页面大小
                    search : params.search, //搜索
                    order : params.order, //排序
                    ordername : params.sort, //排序
                    filter: params.filter,
                    member_id: member_id,
                    service_package_id: service_package_id,
                    service_type: service_type,
                    invoice_id: invoice_id
                };
            },
            contentType: 'text/html',
            // toolbar: "#service_packages-toolbar",                    //工具按钮用哪个容器
            pagination: true,                                 //是否显示分页（*）
            sidePagination: 'client',                         //分页方式：client客户端分页，server服务端分页（*）
            maintainMetaData: true,                           //设置true为在更改页面和搜索上维护以下元数据： 选定的行,隐藏的行
            buttonsClass:"btn-sm btn btn-sm btn-default",
            striped: true,                                   //是否显示行间隔色
            cookie: true,
            cookieIdTable: 'services-Grid',
            showRefresh: false,                               //是否显示刷新按钮
            showColumns: false,                               //是否显示所有的列
            clickToSelect: true,                            //是否在单击行时选择复选框或radiobox
            stickyHeader: true,
            stickyHeaderOffsetLeft: '3em',
            stickyHeaderOffsetRight: '3em',
            filterControl: true,
            search: false,                                   //显示搜索框
            sortable: true,
            pageSize: 10,                                    //每页的记录行数（*）
            pageList: [10, 20, 50, 100],
            singleSelect: false,                              //开启单选,想要获取被选中的行数据必须要有该参数
            columns: [{
                field: 'checked',
                checkbox: true,
                clickToSelect: true
            }, {
                field: 'code',
                title: '編號',
                width: "120px",
                clickToSelect: true,                        //是否在单击行时选择复选框或radiobox
                sortable: true,                              //是否允许列可以排序
                filterControl: 'input'
            }, {
                field: 'name',
                title: '名稱',
                filterControl: 'input'
            }, {
                field: 'deduct_val',
                title: '扣除值',
                sortable: true
            }, ],
        });

    }

    function wh_end_time(start_time){
        let st_strs = start_time.split(":")
        let time = Number(st_strs[0])
        let hour = st_strs[1]
        if(hour == "30"){
            st_strs[0] = time + 1
            st_strs[1] = "00"
        }else{
            st_strs[1] = "30"
        }
        return st_strs.join(":")
    }

    $(document).ready( function (){
        let member_id = $("#member_id").val();

        $('#service_packages-grid').bootstrapTable({
            url: '/index/service_packages/service_lists',            //请求后台的URL（*）
            method: 'get',                                   //请求方式（*）
            queryParams: function (params) {
                return {
                    offset: params.offset,  //页码
                    limit: params.limit,   //页面大小
                    search : params.search, //搜索
                    order : params.order, //排序
                    ordername : params.sort, //排序
                    filter: params.filter,
                    member_id: member_id
                };
            },
            contentType: 'text/html',
            // toolbar: "#service_packages-toolbar",                    //工具按钮用哪个容器
            pagination: false,                                //是否显示分页（*）
            sidePagination:'client',                         //分页方式：client客户端分页，server服务端分页（*）
            buttonsClass:"btn-sm btn btn-sm btn-default",
            striped: true,                                   //是否显示行间隔色
            cookie: true,
            cookieIdTable: 'service_packages-Grid',
            showRefresh: false,                               //是否显示刷新按钮
            showColumns: false,                               //是否显示所有的列
            clickToSelect: true,                            //是否在单击行时选择复选框或radiobox
            stickyHeader: true,
            stickyHeaderOffsetLeft: '3em',
            stickyHeaderOffsetRight: '3em',
            filterControl: true,
            search: false,                                   //显示搜索框
            sortable: true,
            pageSize: 10,                                    //每页的记录行数（*）
            pageList: [10, 20, 50, 100],
            singleSelect: false,                              //开启单选,想要获取被选中的行数据必须要有该参数
            columns: [{
                field: 'expiration_date',
                title: '有效日期',
                filterControl: 'select',
                sortable: true
            },{
                field: 'code',
                title: '編號',
                width: "120px",
                clickToSelect: true,                        //是否在单击行时选择复选框或radiobox
                sortable: true,                              //是否允许列可以排序
                filterControl: 'input'
            }, {
                field: 'name',
                title: '名稱',
                filterControl: 'input'
            }, {
                field: 'arrears',
                title: '分期尚欠',
                formatter: function (value, row, index) {
                    return '$' + parseFloat(value).toFixed(1)
                }
            }, {
                field: 'avg_price',
                title: '平均價值',
                sortable: true,
                formatter: function (value, row, index) {
                    return '$' + parseFloat(value).toFixed(1)
                }
            }, {
                field: 'package_value_unit',
                title: '套票值',
                sortable: true
            }, ],
            onClickRow:function (row, element) {
                package_id = row.id;
                package_code = row.code;
                package_name = row.name;
                package_value = row.package_value;
                package_value_used = row.package_value_used;
                package_unit = row.package_unit;
                invoice_id = row.invoice_id;
                member_id = row.member_id;
                selectRow = row;

                getAllSelections(selectRow);

                $('#services-grid').bootstrapTable('destroy');
                services(package_id, invoice_id, member_id, row.service_type);
            },
        });

        $(".submit").click(function(){
            let from_panel = $("#from_panel").val();

            data = selectRow;
            getAllSelections(selectRow);

            // let rows = selections.slice(1);
            let rows = selections;
            if(rows.length<=0){
                alert("请选择一行");
                return;
            }else {
                //注意：parent 是 JS 自带的全局对象，可用于操作父页面
                let index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                parent.layer.close(index);
                let nodes = '';
                if (from_panel == 'use_packages') {
                    let number = parseInt(parent.$(".items_count").val());
                    let total = parseFloat(parent.$("#total").val());
                    // ids = ids.split(",");

                    $.each(rows, function(index, element){
                        // console.log(element)
                        let service_package_item_id = 0;
                        if (element.id) {
                            service_package_item_id = element.id;
                        }

                        if (parseFloat(element.package_value - element.package_value_used) > 0) {

                            nodes += '<tr class="border-b service">\n'+
                                ' <td width="5%" align="center" data-id="">\n'+
                                '    <input type="checkbox" class="checkbox" value="' + number + '">\n'+
                                '   <input type="hidden" class="service_packages" value="' + element.id + '">\n'+
                                ' </td> \n'+
                                ' <td width="5%"> \n'+
                                '   <input type="hidden" name="service[' + number + '][service_package_id]" value="' + element.package_id + '">\n'+
                                '   <input type="hidden" name="service[' + number + '][service_package_item_id]" value="' + service_package_item_id + '">\n'+
                                '   <input type="hidden" name="service[' + number + '][service_id]" value="' + element.service_id + '">\n'+
                                '   <input type="hidden" name="service[' + number + '][commission]" value="' + element.beautician_pay + '"> \n'+
                                '   <input type="hidden" name="service[' + number + '][invoice_id]" value="' + element.invoice_id + '"> \n'+
                                '   <input type="hidden" name="service[' + number + '][invoice_item_id]" value="' + element.invoice_item_id + '"> \n'+
                                ' </td> \n'+
                                ' <td width="10%">\n'+
                                '   <p>' + element.package_code+ '</p><br/>\n'+
                                '   <p>' + element.code + '</p>\n'+
                                '   <p>&emsp;</p>\n'+
                                ' </td> \n'+
                                ' <td width="20%">\n'+
                                '   <p>' + element.package_name+ '</p><br/>\n'+
                                '   <p>' + element.name + '</p>\n'+
                                '   <p>套票值：' + parseFloat(element.package_value - element.package_value_used).toFixed(1) + '/' + element.package_value + element.package_unit + '</p>\n'+
                                ' </td> \n'+
                                ' <td width="15%">\n'+
                                '   <select class="form-control beautician beautician1' + number + '" name="service[' + number + '][beautician1]" style="display: none; width: 100%;">\n'+
                                '   <option value="0"></option>\n'+
                                '   </select>\n'+
                                ' </td> \n'+
                                ' <td width="15%">\n'+
                                '   <select class="form-control beautician beautician2' + number + '" name="service[' + number + '][beautician2]" style="display: none; width: 100%;">\n'+
                                '   <option value="0"></option>\n'+
                                '   </select>\n'+
                                ' </td> \n'+
                                ' <td width="8%">\n'+
                                '   <input type="number" min="1" name="service[' + number + '][quantity]" value="1" class="form-control text-right quantity" style="width: 100%;">\n'+
                                ' </td> \n'+
                                ' <td width="11%">\n'+
                                '   <input type="text" name="service[' + number + '][deduction]" value="' + element.deduct_val + '" class="form-control text-right deduction" style="width: 100%;">\n'+
                                ' </td> \n'+
                                ' <td width="11%">\n'+
                                '   <input type="text" name="service[' + number + '][total_deduction]" value="' + element.deduct_val + '" class="form-control text-right total_deduction" style="width: 100%;" readonly="">\n'+
                                ' </td> \n'+
                                ' </tr>';

                            number++;
                            total += element.deduct_val;
                        }
                    })
                    parent.$("#use_packages").append(nodes);
                    parent.$(".items_count").val(number);
                    parent.$("#total").val(total)
                    parent.initBeautician();
                }else if(from_panel == 'bookings'){
                    var numbers = [];
                    let number = idx = parseInt(parent.$(".items_count").val());
                    // ids = ids.split(",");
                    $.each(rows, function(index, element){
                        if (parseFloat(element.package_value - element.package_value_used) > 0) {
                            nodes += '<tr class="border-b service"> '
                            nodes += '<td align="center" data-id=""><input type="checkbox" class="checkbox" value="' + number + '">'
                            nodes += '<input type="hidden" name="service[' + number + '][invoice_id]" value="' + element.invoice_id + '"><input type="hidden" name="service[' + number + '][invoice_item_id]" value="' + element.invoice_item_id + '"><input type="hidden" name="service[' + number + '][service_package_id]" value="' +element. element.package_id + '"><input type="hidden" name="service[' + number + '][service_package_item_id]" value="' + element.id + '">  <input type="hidden" name="service[' + number + '][service_id]" value="' + element.service_id + '"> <input type="hidden" name="service[' + number + '][service_name]" value="' + element.name + '"> </td>'
                            nodes += '<td class="d-flex align-items-center justify-content-between"><select class="form-control time_picker start_time" id="service_start_time_'+number+'" name="service[' + number + '][start_time]" style="display: none; width: 100%;"></select>&nbsp;至 &nbsp;<select class="form-control time_picker end_time" id="service_end_time_'+number+'" name="service[' + number + '][end_time]" style="display: none; width: 100%;"></td>';
                            nodes += '<td> <input type="hidden" name="service[' + number + '][service_package_id]" value="' + element.package_id + '"><input type="hidden" name="service[' + number + '][service_package_item_id]" value="' + element.id + '"> <p style="margin-bottom:2px">' + element.package_code+ '</p><p style="margin-bottom:2px">' + element.code + '</p></td>';
                            nodes += '<td><p style="margin-bottom:2px">' + element.package_name+ '</p><p style="margin-bottom:2px">' + element.name + '</p><p style="margin-bottom:2px">套票值：' + parseFloat(element.package_value - element.package_value_used).toFixed(1) + '/' + element.package_value + element.package_unit + '</p></td><td><input type="number" min="1" name="service[' + number + '][quantity]" value="1" class="form-control text-right quantity" style="width: 100%;"></td>';
                            nodes += '<td><select class="form-control beautician beautician1" id="service_beautician1_'+number+'"  name="service[' + number + '][beautician1]" style="display: none; width: 100%;"></select></td>';
                            nodes += '<td><select class="form-control beautician beautician2" name="service[' + number + '][beautician2]" id="service_beautician2_'+number+'" style="display: none; width: 100%;"></select></td>';
                            nodes += '</tr>';
                            numbers.push(number);
                            number++;
                        }
                    });
                    parent.$("#bookings").append(nodes);
                    parent.$(".items_count").val(number);
                    parent.initBeautician(numbers);
                    parent.initWorkingHourse();

                    let start_time =  parent.$("#booking_init_time").val();
                    console.log(start_time);
                    $.each(rows, function(index, element){
                        if (parseFloat(element.package_value - element.package_value_used) > 0) {
                            let end_time = wh_end_time(start_time)
                            parent.$('#service_start_time_'+idx).val(start_time).trigger('change');
                            parent.$('#service_end_time_'+idx).val(end_time).trigger('change');
                            start_time = end_time;
                            idx++
                        }
                    });
                    parent.$("#booking_init_time").val(start_time);

                }


                //注意：parent 是 JS 自带的全局对象，可用于操作父页面
                // let index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                // parent.layer.close(index);
            }
        });

        $(".btn-default").click(function(){
            let index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);
        });

    });

    function getAllSelections(row) {
        let rows = $("#services-grid").bootstrapTable('getAllSelections');

        if (rows.length > 0) {
            $.each(rows, function(index, element){
                if (data && selectionIds.indexOf(data.invoice_id + '-' + element.service_id) == -1) {
                    element['package_id'] = data.id;
                    element['invoice_id'] = data.invoice_id;
                    element['package_code'] = data.code;
                    element['package_name'] = data.name;
                    element['package_value'] = data.package_value;
                    element['package_value_used'] = data.package_value_used;
                    element['package_unit'] = data.package_unit;
                    element['package_unit'] = data.package_unit;
                    selectionIds.push(data.invoice_id + '-' + element.service_id);
                    selections.push(element);
                }
            })
        }
        data = row;
    }
</script>
</html>