Activities.php{extend name='public/popup' /}
{block name='content'}
<section class="content p-3">
    <form class="form-horizontal" id="activity-form" method="post" action="{$act}">

    <div class="row">
            <!-- Left -->
            <div class="col-md-6"  valign="top">
                <div class="form-group row">
                    <div class="col-md-8"><label class="text-primary">預約資料</label></div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">編號:</div>
                    <div class="col-md-8">
                        <input class="form-control form-control-sm">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">日期:</div>
                    <div class="col-md-8">
                        <input class="form-control form-control-sm datePicker" type="text"
                               id="date_start" name="date_start"
                               value="{$item.date_start|default=''}"
                               placeholder="">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">房間:</div>
                    <div class="col-md-8">
                         <div class="row">
                             <div class="col-md-6">
                                 <select class="form-control form-control-sm"><option value="銅鑼灣">銅鑼灣</option></select>
                             </div>
                             <div class="col-md-6">
                                 <select class="form-control form-control-sm"></select>
                             </div>
                         </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">顧問:</div>
                    <div class="col-md-8">
                        <input class="form-control form-control-sm" type="text"
                               id="consultant" name="consultant"
                               placeholder="">
                    </div>
                </div>

            </div>
            <!-- Right -->
            <div class="col-md-6" valign="top">
                <div class="form-group row">
                    <div class="col-md-8"><label class="text-primary">會員資料</label></div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">會員:</div>
                    <div class="col-md-5">
                        <input type="text" class="form-control form-control-sm">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">名稱:	</div>
                    <div class="col-md-5">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">電話:	</div>
                    <div class="col-md-5">
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group row pt-3">
            <div><label class="text-primary">服務資料</label>&nbsp;&nbsp;
            <a title="選擇" onclick="package_services()" class="btn btn-primary btn-xs " href="#">選擇</a></div>

            <table id="package_services" class="table table-hover table-striped table-sm datatable" width="100%">
                <thead>
                <th width="5%"><input type="checkbox" name=""></th>
                <th width="15%">時間</th>
                <th>編號</th>
                <th>名稱</th>
                <th width="15%">數量</th>
                <th width="15%">美容師</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="form-group row pt-3">
            <div><label class="text-primary">儀器資料
            </label>&nbsp;&nbsp;
                <a title="選擇" onclick="package_services()" class="btn btn-primary btn-xs " href="#">選擇</a></div>

            <table id="equiment_services" class="table table-hover table-striped table-sm datatable" width="100%">
                <thead>
                <th width="5%"><input type="checkbox" name=""></th>
                <th>名稱</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>


        <div class="row">
        <div class="col-sm-12 pt-3" align="center">
            <button id="activity-submit" type="button" class=" far fa-file-alt  btn flat btn-info dataFormSubmit  btn-sm">
                Save
            </button>
            &nbsp;
            <button class="btn btn-default btn-sm btn-close" type="button">Close</button>
        </div>
    </div>
    </form>
</section>
{/block}

{block name="js"}
<script type="text/javascript">
    function package_services(){
        layer.open({
            type: 2,
            title: 'Services Information',
            area: ['800px', '500px'],
            content: '{:url("services/services")}'
        })
    }


    $(function () {

        $("#activity-submit").click(function(){    // 提交按钮触发事件
            var tourl = $("#activity-form").attr("action");    // 获取 表单的 提交地址
            // 序列化 表单数据
            $.post(tourl,$("#activity-form").serialize(),function(data){
                layer.msg(data['msg']);
                if(data['code'] == 200){
                    var action = data['action']
                    parent.layer.closeAll();
                    if(action == 'add') {
                        parent.calendar.addEvent(data.event);
                    }else if(action == "update"){
                        parent.calendar.getEventById(data.event.id).remove()
                        parent.calendar.addEvent(data.event);
                    }else{
                        parent.$('#activity-grid').bootstrapTable('refresh')
                    }
                }
            });
        });


        $('#activity-delete').click(function () {
            var id = $(this).attr('data-id');
            var url = "{:url('activities/del')}?id=" + id
            $.post(url, function (data) {
                layer.msg(data['info']);
                if (data['status'] == 1) {
                    parent.layer.closeAll();
                    if ("{act}" == "edit") {
                        parent.$('#calendar').fullCalendar('removeEvents', [data.id]);
                    } else {
                        parent.$('#activity-grid').bootstrapTable('removeByUniqueId', id);
                    }
                }
            })
        })

        $('.btn-close').on('click', function () {
            var index = parent.layer.getFrameIndex(window.name)
            parent.layer.close(index);
        });

    })



</script>
{/block}