{extend name="public/base" /}
{block name='style'}
{css href="__PLUGIN__/fullcalendar/core/main.min.css"}
{css href="__PLUGIN__/fullcalendar/daygrid/main.min.css"}
{css href="__PLUGIN__/fullcalendar/timegrid/main.min.css"}
{css href="__PLUGIN__/fullcalendar/bootstrap/main.min.css"}
{/block}

{block name="head_js"}

{/block}


{block name='content'}
<!--数据列表页面-->
<section class="content">

    <!--顶部搜索筛选-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <form role="form" id="booking_form">
                        <input type="hidden" name="oblation">
                        <div class="row">
                            <!-- Left -->
                            <div class="col-md-5" valign="top">
                                <div class="form-group row">
                                    <div class="col-md-3">店舖:</div>
                                    <div class="col-md-8">
                                        <select class="form-control select2" name="store_id" id="store_id">
                                            {foreach name=":getStores()" id='val'}
                                            <option value="{$val.id}" {if isset($search) &&
                                                    $search.store_id==$val.id}selected{/if}>
                                                {$val.name}
                                            </option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-3">美容師 / 房間:</div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select class="form-control select2" type="text" id="consultant"
                                                        name="consultant">
                                                    <option value="">&nbsp;</option>
                                                    {foreach name=":getUsers()" id='user'}
                                                    <option value="{$user.uid|default=''}" {if isset($search) &&
                                                            $search.consultant==$user.uid}selected{/if}>
                                                        {$user.name}
                                                    </option>
                                                    {/foreach}
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control form-control-sm" name="room_id"
                                                        id="room_id">
                                                    <option value=""></option>
                                                    {foreach name=":getRooms()" id='val'}
                                                    <option value="{$val.id}" {if isset($search) &&
                                                            $search.room_id==$val.id}selected{/if}>
                                                        {$val.name}
                                                    </option>
                                                    {/foreach}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-3">日期:</div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <input class="form-control form-control-sm datePicker" type="text"
                                                       id="date_start" name="date_start"
                                                       value="{$item.date_start|default=$date_start}"
                                                       placeholder="">
                                            </div>
                                            <div class="col-md-2  d-flex  justify-content-center"> 至</div>
                                            <div class="col-md-5">
                                                <input class="form-control form-control-sm datePicker" type="text"
                                                       id="date_end" name="date_end"
                                                       value="{$item.date_end|default=$date_end}"
                                                       placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 col-md-1">
                                    </div>
                                    <div class="col-xs-12 col-md-2">
                                    </div>

                                    <div class="col-xs-12 col-md-2">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-default btn-sm click-search" id="services_pre_month">
                                                <a class="fa fa-chevron-left" aria-hidden="true"></a>
                                            </label>
                                            <button type="submit" id="services_current_month"> 月</button>
                                            <label class="btn btn-default btn-sm click-search" id="services_next_month">
                                                <a class="fa fa-chevron-right"
                                                   aria-hidden="true"> </a>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-2">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-default btn-sm click-search" id="services_pre_day">
                                                <a class="fa fa-chevron-left" aria-hidden="true"></a>
                                            </label>

                                            <button type="submit" id="services_current_day">日</button>

                                            <label class="btn btn-default btn-sm click-search" id="services_next_day">
                                                <a class="fa fa-chevron-right"
                                                   aria-hidden="true"></a>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-3">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-default  btn-sm click-search" id="services_pre_week">
                                                <a class="fa fa-chevron-left" aria-hidden="true"></a>
                                            </label>

                                            <button type="submit" id="services_current_week">星期</button>

                                            <label class="btn btn-default btn-sm click-search" id="services_next_week">
                                                <a class="fa fa-chevron-right"
                                                   aria-hidden="true"></a>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Right -->
                            <div class="col-md-6" valign="top">
                                <div class="form-group row">
                                    <div class="col-md-2">會員 / 非會員:</div>
                                    <div class="col-md-5">
                                        <input type="text" id="member" name="member" value=""
                                               class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5">
                                        <select id="booking_item" name="booking_item_id"
                                                class="form-control form-control-sm" size="4" multiple>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                    <!-- Filter -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <button class="btn btn-sm col-md-1 ml-2 btn-outline-primary book-type" id="all_booking">
                                    列表
                                </button>
                                <button class="btn btn-sm col-md-1 ml-2 btn-success book-type" id="new">新預約</button>
                                <button class="btn btn-sm col-md-1 ml-2 btn-warning book-type" id="confirmed"
                                        style="color: white;">已通知
                                </button>
                                <button class="btn btn-sm col-md-1 ml-2 book-type"
                                        style="background-color: #fd7e14!important; color: white;" id="new_confirmed">
                                    新客已通知
                                </button>
                                <button class="btn btn-sm col-md-1 ml-2 btn-danger book-type" id="unreachable">未能聯絡
                                </button>
                                <button class="btn btn-sm col-md-1 ml-2 bg-info book-type" id="present">已到</button>
                                <button class="btn btn-sm col-md-1 ml-2 btn-secondary book-type" id="absent">缺席</button>
                                <button class="btn btn-sm col-md-1 ml-2 bg-pink book-type" id="charged">已扣除套票</button>
                            </div>
                        </div>
                    </div>
                    <!-- Calendar -->
                    {volist name="dayArr" id="day"}
                    <div class="row">

                        <table class="table table-bordered table-striped table-responsive" id="bea">
                            <thead>
                                <tr class="bg-purple disabled color-palette">
                                    <td>日期</td>
                                    <td>时间</td>
<!--                                    循环美容师-->
                                    {volist name='beauticianArr' id='beautician'}
                                    <td>{$beautician.title}</td>
                                    {/volist}
                                    <td>时间</td>
                                    <td>日期</td>
                                </tr>
                            </thead>
                            <tbody>

<!--                                第一层循环控制行数 时间-->
<!--                                第二层循环控制列数  美容师-->
                                    {volist name="time" id="shijian"}
                                    <tr id="list" data-day="{$day}">
                                        <td>{$day}</td>
                                        <td>{$shijian.id}</td>
                                        {volist name="beauticianArr" id="bea"}
                                        <td data-bea="{$bea.id}">{volist name="bookingItems" id="bi"}{if condition="$bi.booking.booking_date eq $day  && $bi.beautician1 eq $bea.id && ($bi.end_time > $shijian.id&&$shijian.id>=$bi.start_time)"}{$bi.service_name}<input type="hidden" value="{$bi.bc}" data-id="{$bi.booking.id}" data-resource="{$bi.beautician1}" data-event="{$bi.id}" data-day="{$day}">{/if}{/volist}</td>{/volist}
                                        <td>{$shijian.text}</td>
                                        <td>{$day}</td>
                                    </tr>
                                    {/volist}
                            </tbody>
                        </table>
                    </div>
                    {/volist}
                </div>
            </div>

        </div>
    </div>

</section>
{/block}


{block name='js'}
{js href="__PLUGIN__/fullcalendar/core/main.min.js"}
{js href="__PLUGIN__/fullcalendar/daygrid/main.min.js"}
{js href="__PLUGIN__/fullcalendar/timegrid/main.min.js"}
{js href="__PLUGIN__/fullcalendar/interaction/main.min.js"}
{js href="__PLUGIN__/fullcalendar/bootstrap/main.min.js"}
{js href="__PLUGIN__/fullcalendar/premium/resource-common/main.min.js"}
{js href="__PLUGIN__/fullcalendar/premium/resource-daygrid//main.min.js"}
{js href="__PLUGIN__/fullcalendar/premium/resource-timegrid/main.min.js"}

<script>
    $(".book-type").click(function () {
        let type = $(this).attr('id');
        let url = '{:url("all_info")}?type=' + type;
        layer.open({
            type: 2,
            title: '預約列表',
            area: ['90%', '80%'],
            content: url
        })
    });
    var calendar;
    $(function () {
        $("#bea tr").each(function(rowIndex) {
            _w_table_rowspan("#bea",rowIndex);
        });
        // _w_table_rowspan("#bea",5);
    });

    $("#room_id").change(function () {
        form_change();
    });

    $("#store_id").change(function () {
        form_change();
    });
    $("#consultant").change(function () {
        form_change();
    });
    $("#date_start").blur(function () {
        form_change();
    });
    $("#date_end").blur(function () {
        form_change();
    });
    $("#member").blur(function () {
        let member = $("#member").val();
        $.ajax({
            url: '{:url("get_booking_item")}',
            type: "POST",
            data: {member: member},
            success(res) {
                let nodes = '<option value=""></option>';
                $('#booking_item').empty();
                $.each(res.booking, function (index, element) {
                    console.log(element);
                    nodes += '<option value="' + element.id + '" onclick="show_booking(' + element.id + ',' + element.beautician1 + ',' + element.bi_id + ')">' + element.first_name + '</option>';
                });
                $('#booking_item').append(nodes);
            }
        });
    });

    function form_change() {
        //TODO:给个祭品  <input type="hidden" name="oblation">
        let params = $("#booking_form").serialize();
        window.location = "{:url('index')}?params=" + params;
    }

    function show_booking(id, beautician1, bi_id) {
        let url = "{:url('bookings/edit')}?id=" + id + "&resourceId=" + beautician1 + "&eventId=" + bi_id;
        bookingWin(url);
    }
    function add_booking(date,beautician){
        let url = "{:url('bookings/add')}?date="+date+'&resourceId='+beautician+ "&eventId=0";
        bookingWin(url);
    }
    $("#services_current_month").click(function () {
        let date = $("#date_start").val();
        let start_date = moment(date).startOf("month");
        let end_date = moment(date).endOf("month");

        document.getElementById('date_start').value = moment(start_date).format("YYYY-MM-DD");
        document.getElementById('date_end').value = moment(end_date).format("YYYY-MM-DD");
        form_change();

    });


    $("#services_pre_month").click(function () {
        let date = $("#date_start").val();
        date = moment(date, "YYYY-MM-DD").subtract(1, 'M');
        let start_date = moment(date).startOf("month");
        let end_date = moment(date).endOf("month");

        document.getElementById('date_start').value = moment(start_date).format("YYYY-MM-DD");
        document.getElementById('date_end').value = moment(end_date).format("YYYY-MM-DD");

        form_change();

    });


    $("#services_next_month").click(function () {
        let date = $("#date_start").val();
        date = moment(date, "YYYY-MM-DD").add(1, 'M');
        let start_date = moment(date).startOf("month");
        let end_date = moment(date).endOf("month");

        document.getElementById('date_start').value = moment(start_date).format("YYYY-MM-DD");
        document.getElementById('date_end').value = moment(end_date).format("YYYY-MM-DD");

        form_change();

    });


    $("#services_current_day").click(function () {
        let date = $("#date_start").val();
        let start_date = moment(date).startOf("day");
        let end_date = moment(date).endOf("day");

        document.getElementById('date_start').value = moment(start_date).format("YYYY-MM-DD");
        document.getElementById('date_end').value = moment(end_date).format("YYYY-MM-DD");

        form_change();

    });


    $("#services_pre_day").click(function () {
        let date = $("#date_start").val();
        date = moment(date, "YYYY-MM-DD").subtract(1, 'd');
        let start_date = moment(date).startOf("day");
        let end_date = moment(date).endOf("day");

        document.getElementById('date_start').value = moment(start_date).format("YYYY-MM-DD");
        document.getElementById('date_end').value = moment(end_date).format("YYYY-MM-DD");

        form_change();

    });


    $("#services_next_day").click(function () {
        let date = $("#date_start").val();
        date = moment(date, "YYYY-MM-DD").add(1, 'd');
        let start_date = moment(date).startOf("day");
        let end_date = moment(date).endOf("day");

        document.getElementById('date_start').value = moment(start_date).format("YYYY-MM-DD");
        document.getElementById('date_end').value = moment(end_date).format("YYYY-MM-DD");

        form_change();
    });


    $("#services_current_week").click(function () {
        let date = $("#date_start").val();
        let start_date = moment(date).startOf("week");
        let end_date = moment(date).endOf("week");

        document.getElementById('date_start').value = moment(start_date).format("YYYY-MM-DD");
        document.getElementById('date_end').value = moment(end_date).format("YYYY-MM-DD");

        form_change();

    });


    $("#services_pre_week").click(function () {
        let date = $("#date_start").val();
        let start_date = moment(date).subtract(1, 'w');
        let end_date = moment(date).subtract(1, 'd');

        document.getElementById('date_start').value = moment(start_date).format("YYYY-MM-DD");
        document.getElementById('date_end').value = moment(end_date).format("YYYY-MM-DD");

        form_change();

    });

    function Booking() {
        let url = "";
        bookingWin()
    }
    $("#services_next_week").click(function () {
        let date = $("#date_end").val();
        let start_date = moment(date, "YYYY-MM-DD").add(1, 'd');
        let end_date = moment(date, "YYYY-MM-DD").add(1, 'w');

        document.getElementById('date_start').value = moment(start_date).format("YYYY-MM-DD");
        document.getElementById('date_end').value = moment(end_date).format("YYYY-MM-DD");
        form_change();


    });
    function _w_table_rowspan(_w_table_id,_w_table_colnum){
        _w_table_firsttd = "";
        _w_table_currenttd = "";
        _w_table_SpanNum = 0;
        _w_table_Obj = $(_w_table_id + " tr td:nth-child(" + _w_table_colnum + ")");
        _w_table_Obj.each(function(i){
            if(i==0){
                _w_table_firsttd = $(this);
                _w_table_SpanNum = 1;
            }else{
                _w_table_currenttd = $(this);

                if(_w_table_firsttd.text()==_w_table_currenttd.text()&&_w_table_firsttd.text()!=''){
                    _w_table_SpanNum++;
                    _w_table_currenttd.hide(); //remove();
                    _w_table_firsttd.attr("rowSpan",_w_table_SpanNum);
                    let bc = _w_table_firsttd.find('input').val();
                    let b_id = _w_table_firsttd.find('input').attr('data-id');
                    let beautician1 = _w_table_firsttd.find('input').attr('data-resource');
                    let bi_id = _w_table_firsttd.find('input').attr('data-event');
                    _w_table_firsttd.attr("onClick","show_booking("+b_id+','+beautician1+','+bi_id+");");
                    _w_table_firsttd.css('background-color',bc);
                }else{
                    _w_table_firsttd = $(this);
                    if(_w_table_firsttd.text()!=''){

                        let bc = _w_table_firsttd.find('input').val();
                        let b_id = _w_table_firsttd.find('input').attr('data-id');
                        let beautician1 = _w_table_firsttd.find('input').attr('data-resource');
                        let bi_id = _w_table_firsttd.find('input').attr('data-event');
                        _w_table_firsttd.attr("onClick","show_booking("+b_id+','+beautician1+','+bi_id+");");
                        _w_table_firsttd.css('background-color',bc);
                    } else {
                        let day = _w_table_firsttd.parent().attr('data-day');
                        let bea = _w_table_firsttd.attr('data-bea');
                        _w_table_firsttd.attr("onClick","add_booking("+'\''+day+'\''+','+bea+");");
                    }

                    _w_table_SpanNum = 1;
                }
            }
        });
    }

</script>
{/block}
