{extend name="public/base" /}
{block name='content'}

<!--数据列表页面-->
<section class="content">

    <!--顶部搜索筛选-->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary card-outline card-outline-tabs" style="border-top:2px">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="service-tab" data-toggle="pill" href="#service-panel" role="tab" aria-controls="service-tab" aria-selected="true">服務</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link tab-ajax" id="service-package-tab" data-toggle="pill"
                               href="{:url('service_packages/index')}" data-target="#service-package-panel" role="tab"
                               aria-controls="service-package-panel"
                               aria-selected="false">服務套票</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link tab-ajax" id="product-tab" data-toggle="pill"
                               href="{:url('products/index')}" data-target="#product-panel" role="tab"
                               aria-controls="product-panel"
                               aria-selected="false">產品</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link tab-ajax" id="combination-tab" data-toggle="pill"
                               href="{:url('Combinations/index')}" data-target="#combination-panel" role="tab"
                               aria-controls="combination-panel"
                               aria-selected="false">產品組合</a>
                        </li>

                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="contact-subpanel">
                        <div class="tab-pane fade  show active" id="service-panel" role="tabpanel"
                             aria-labelledby="service-tab">
                            <!-- {include file="services/lists" /} -->
                            <div id="services-toolbar" class=" d-flex align-items-center">
                                <select name="status" id="status" class="form-control select2 col-md-2 col-lg-1 col-xl-1" style="width: 100%;">
                                    <option value="">（所有狀態）</option>
                                    <option value="發售中">發售中</option>
                                    <option value="停售">停售</option>
                                </select>

                                <select name="field" id="field" class="form-control ml-2 select2 col-md-2 col-lg-1 col-xl-1" style="width: 100%;">
                                    <option value="code">編號</option>
                                    <option value="category">類別</option>
                                    <option value="name">名稱</option>
                                    <option value="summary">摘要</option>
                                </select>

                                <input type="text" class="form-control ml-2 col-md-3 col-lg-3 col-xl-3" id="keyword" name="keyword">

                                <select name="parent_category" id="parent_category" class="form-control ml-2 col-md-3 col-lg-3 col-xl-3 hidden" style="width: 100%;">
                                    <option value="">（所有類別）</option>

                                </select>
                                <select name="category" id="category" class="form-control ml-2 col-md-3 col-lg-3 col-xl-3 hidden" style="width: 100%;">
                                    <option value="">（所有類別）</option>

                                </select>

                                <button class="btn btn-primary btn-sm ml-2 search" style="white-space: nowrap;">搜尋</button>

                                <button onclick="services(0)" class="btn btn-primary btn-sm ml-2 d-flex align-items-center">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                            </div>

                            <table id="services-grid" class="table-striped table-sm datatable" width="100%">
                                
                            </table>
                        </div>

                        <div class="tab-pane fade" id="service-package-panel" role="tabpanel"
                             aria-labelledby="service-package-tab">

                        </div>

                        <div class="tab-pane fade" id="product-panel" role="tabpanel"
                             aria-labelledby="product-tab">

                        </div>

                        <div class="tab-pane fade" id="combination-panel" role="tabpanel"
                             aria-labelledby="combination-tab">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--{include file='public/content_common' /}-->

{/block}

{block name='js'}
    <script type="text/javascript">
        window.operateEvents={
            "click .edit" : function(e,value,row,index){services(row.id)},
            "click .add" : function(e,value,row,index){add(row.id)},
            "click .del" : function(e,value,row,index){del(row.id)},
         
        }

        function operateFormatter(value,row,index){
            return [
                '<a class="btn btn-primary btn-xs mr-1 edit" href="#"><i class="fa fa-pencil"></i></a>',
			    '<a class="btn btn-success btn-xs mr-1 add" href="#" title="Add to Service Package"><i class="fa fa-exchange"></i></a>',
                '<a class="btn btn-danger btn-xs mr-1 del" href="#"><i class="fa fa-trash"></i></a>',
     
            ].join('');
        }
     
        function services(id){
            let clientHeight = document.documentElement.clientHeight;
            let height = 850;
            if(height > clientHeight){
                height = clientHeight;
            }
        
            if (id) {
                var url = '{:url("services/edit?id=")}' + id
            } else {
                var url = '{:url("services/add")}'
            }
            layer.open({
                type: 2,
                title: 'Service Package Information',
                area: ['1000px', height + 'px'],
                maxmin: true,
                content: url
            })
        }

        function del(id){
            // const that = $(this)
            if(confirm('Are you sure to delete?')==false){
                return false;
            }else{
                $.ajax({
                    url: "{:url('services/del')}",
                    data: {
                        id: id,
                        from_panel: 1
                    },
                    type: "POST",
                    success(res){
                        if(res.code == 200){
                            $('#services-grid').bootstrapTable('refresh');
                        }
                    }
                })
            }
        }

        function add(id) {
            let clientHeight = document.documentElement.clientHeight;
            let height = 850;
            if(height > clientHeight){
                height = clientHeight;
            }


            layer.open({
                type: 2,
                title: 'Service Information',
                area: ['1000px', height + 'px'],
                maxmin: true,
                content: '{:url("service_packages/service_to_package?id=")}' + id
            })
        }

        $(function(){

            $('#services-grid').bootstrapTable({
                url: '/index/services/lists',            //请求后台的URL（*）
                method: 'get',                                   //请求方式（*）
                queryParams: function (params) {
                    return {
                        offset: params.offset,  //页码
                        limit: params.limit,   //页面大小
                        search : params.search, //搜索
                        order : params.order, //排序
                        sort : params.sort, //排序
                        filter: params.filter,
                        status: $("#status").val(),
                        field: $("#field").val(),
                        keyword: $("#keyword").val(),
                        parent_category_id: $("#parent_category").val(),
                        category_id: $("#category").val()
                    };
                },
                toolbar: "#services-toolbar",                    //工具按钮用哪个容器
                pagination: true,                                //是否显示分页（*）
                sidePagination:'server',                         //分页方式：client客户端分页，server服务端分页（*）
                sortOrder: 'desc',
                buttonsClass:"btn-sm btn btn-sm btn-default",
                striped: true,                                   //是否显示行间隔色
                cookie: true,
                cookieIdTable: 'services-Grid',
                showRefresh: true,                               //是否显示刷新按钮
                showColumns: true,                               //是否显示所有的列
                clickToSelect: false,                            //是否在单击行时选择复选框或radiobox
                stickyHeader: true,
                stickyHeaderOffsetLeft: '3em',
                stickyHeaderOffsetRight: '3em',
                filterControl: false,
                search: false,                                   //显示搜索框
                pageSize: 10,                                    //每页的记录行数（*）
                pageList: [10, 20, 50, 100],
                onDblClickRow(row,$element) {
                    services(row.id);
                },
                columns: [{
                    checkbox: true,
                    clickToSelect: true
                }, {
                    field: 'code',
                    title: '編號',
                    width: "120px",
                    clickToSelect: true,                        //是否在单击行时选择复选框或radiobox
                    sortable: true,                              //是否允许列可以排序
                }, {
                    field: 'category',
                    title: '類別',
                    searchable: true,
                    formatter: cateFormatter
                }, {
                    field: 'name',
                    title: '名稱',
                    formatter:serviceFormatter,
                }, {
                    field: 'service_time',
                    title: '服務時間',
                    align: 'right',
                    formatter: function (value) {
                        return value + '分鐘';
                    }
                }, {
                    field: 'beautician_pay',
                    title: '工錢',
                    align: 'right',
                }, {
                    field: 'price',
                    title: '價值',
                    align: 'right',
                    sortable: true
                }, {
                    field: 'operate',
                    title: '操作',
                    width: '120px',
                    clickToSelect: false,
                    events: operateEvents,
                    formatter: operateFormatter
                }, ],
            });

            $(".search").click(function () {
                $("#services-grid").bootstrapTable('selectPage', 1).bootstrapTable('refresh');
            });

            $("#field").change(function () {
                if ($(this).val() == 'category') {
                    $("#keyword").addClass('hidden');
                    $("#parent_category").removeClass('hidden');
                    $("#category").removeClass('hidden');
                    initRolesParentCategory('service');
                } else {
                    $("#keyword").removeClass('hidden');
                    $("#parent_category").addClass('hidden').val('');
                    $("#category").addClass('hidden').val('');

                    if ($('#parent_category').data('select2')) {
                        $('#parent_category').select2('destroy');
                    }
                    if ($('#category').data('select2')) {
                        $('#category').select2('destroy');
                    }
                }
            })
        });

        function cateFormatter(value, row, index){
            let name = '';
            if (row.parent_category && row.parent_category.name) {
                name +=  row.parent_category.name;
            }
            if(row.category && row.category.name){
                name += '->' + row.category.name;
            }
            return name;
        }

        function serviceFormatter(value,row,index) {
            let html = '<span ondblclick=services('+row.id+')>'+value+'</span>';
            return html
        }
    </script>
{include file='public/content_common' /}

{/block}
