{extend name='public/popup' /}
{block name='content'}

<div class="table-responsive">

    <table id="qsearch-grid" class="table-sm">
        <thead>
        <tr>
            <th data-radio="true" data-field="false"></th>
            <th data-field="name" data-sortable="true" data-filter-control="input">Company
            </th>
            <th data-field="phone_office" data-sortable="true" data-filter-control="input">Phone</th>
            <th data-field="billing_address_country" data-sortable="true" data-filter-control="input">Country</th>
            <th data-field="billing_address_city" data-sortable="true" data-filter-control="input">City</th>
        </tr>
        </thead>
    </table>
</div>

{/block}

{block name="js"}
<script>

    $(function () {
        $('#qsearch-grid').bootstrapTable({
            url: "{$grid_url}",
            pagination: true,
            sidePagination: 'server',
            buttonsClass: "btn-sm btn btn-sm btn-default",
            striped: true,
            smartDisplay: true,
            filterControl: true,
            pageSize: 5,
            pageList:[5,10],
            smartDisplay:true,
            formatRecordsPerPage: function formatRecordsPerPage(pageNumber) {
                return "".concat(pageNumber);
            },
            formatShowingRows: function formatShowingRows(pageFrom, pageTo, totalRows, totalNotFiltered) {
                if (totalNotFiltered !== undefined && totalNotFiltered > 0 && totalNotFiltered > totalRows) {
                    return "Showing ".concat(pageFrom, " to ").concat(pageTo, " of ").concat(totalRows, " rows (filtered from ").concat(totalNotFiltered, " total rows)");
                }

                return "Showing ".concat(pageFrom, " to ").concat(pageTo, " of ").concat(totalRows, "");
            },
            onCheck: function (row,e) {
                parent.$("#account_name").val(row.name)
                parent.$("#account_id").val(row.id)
                var index = parent.layer.getFrameIndex(window.name)
                parent.layer.close(index);
            },
            onClickRow: function (row,e) {
                parent.$("#account_name").val(row.name)
                parent.$("#account_id").val(row.id)
                var index = parent.layer.getFrameIndex(window.name)
                parent.layer.close(index);
            }
        });



    })

</script>
{/block}
