<div class="row">
    <div class="col">
        <a title="Add" onclick="doc()" class="btn btn-primary btn-sm " href="#">
            <i class="fa fa-plus"></i> Add
        </a>
    </div>


    <div class="col-auto ">
        <form class="form-inline searchForm" id="searchForm" action="#" method="GET">
            <input type="hidden" value="0" id="export_data" name="export_data">
            <div class="form-group pr-1">
                <input type="text" name="search" id="search" class="form-control"
                       placeholder="Search"
                       value="{$search|default=''}">
            </div>

            <div class="form-group pr-1">
                <button class="btn btn-sm btn-primary" type="submit" onclick="$('#export_data').val(0)"><i
                        class="fa fa-search"></i>
                    Search
                </button>
            </div>
        </form>
    </div>
</div>


<div class="row pt-3">
    <table class="table table-hover table-bordered datatable" data-toggle="table" width="100%">
        <thead>
        <tr>
            <th>Invoice No</th>
            <th>Create Date</th>
            <th>Billimg phone</th>
            <th>Currency</th>
            <th>Email</th>
            <th>C.C.to</th>

            <th>Action</th>


        </tr>
        </thead>
        <tbody>
        {foreach name="data" id="item"}
        <tr>

            <td><a href="javascript:void(0)" onclick="doc('{$item.id}')">{$item.code}</a></td>
            <td>{$item.created_at}</td>
            <td>{$item.billing_phone}</td>
            <td>{$item.default_currency}</td>
            <td>{$item.from_email}</td>
            <td>{$item.cc}</td>


            <td class="td-do">
                <a href="{:url('to_download',['id'=>$item.id])}"
                   class="btn btn-primary btn-xs" title="Download">
                    <i class="fa fa-download"></i>

                </a>
                <a class="btn btn-danger btn-xs AjaxButton" href="{:url('del',['id'=>$item.id])}" title="Delete"
                   data-id="{$item.id}" data-confirm-title="Confirm Delete"
                   data-confirm-content='Are you sure to delete?' data-url="{:url('del')}">
                    <i class="fa fa-trash"></i>

                </a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>


