{extend name='public/layer_base' /}
{block name='content'}

<section class="content">
    <div>
        <form class="form-horizontal" id="stockin-form" method="post" action="{$act}">

            <input type="hidden" id="id" name="id" value="{$item.id|default=''}">
            <input type="hidden" id="supplier_id" name="supplier_id" value="{$item.supplier_id|default=''}">
            <div class="row pt-2">
                <div class="col-xs-12 col-md-6">

                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="quotation_no">編號</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" id="quotation_no" name="quotation_no"
                                   value="{$data.quotation_no|default=''}"
                                   placeholder="Sl000214">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="store">店鋪</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" id="store" name="store"
                                   value="{$data.store|default=''}"
                                   placeholder="銅鑼灣">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="date">日期</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" id="date" name="date"
                                   value="{$data.date|default=''}"
                                   placeholder="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="warehouse_id">貨倉</label>
                        <div class="col-md-7">

                            <select class="form-control" id="warehouse_id" name="warehouse_id" size="1" value="{$item.warehouse_id|default=''}">
                                <option value="1">銅鑼灣貨倉</option>
                                <option value="2">灣仔貨倉</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="abstract">摘要</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" id="abstract" name="abstract"
                                   value="{$data.abstract|default=''}"
                                   placeholder="">
                        </div>
                    </div>


                </div>


                <div class="col-xs-12 col-md-6">

                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="supplier">供應商</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" id="supplier" name="supplier"
                                   value="{$data.supplier|default=''}"
                                   placeholder="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="name">名稱</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" id="name" name="name"
                                   value="{$data.name|default=''}"
                                   placeholder="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="liaisons">聯絡人</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" id="liaisons" name="liaisons"
                                   value="{$data.liaisons|default=''}"
                                   placeholder="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="billing_phone">電話</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" id="billing_phone" name="billing_phone"
                                   value="{$data.billing_phone|default=''}"
                                   placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive g-mb-40 ">

      <!--          <table class="table u-table&#45;&#45;v3&#45;&#45;bordered g-color-black" >
                    <thead >

                    <tr >
                        <th><a title="選擇" onclick="service_products()" class="btn btn-primary btn-sm " href="#" width="5%">選擇</a>
                        </th>
                        <th class="text-center">編號</th>
                        <th class="text-center">名稱</th>
                        <th class="text-center">售價</th>
                        <th class="text-center">数量</th>
                        <th>
                            <a class="js-edit u-link-v5 g-color-gray-light-v6 g-color-secondary&#45;&#45;hover"
                               href="#">
                                <i class="fa fa-plus" id="add-line"></i>
                            </a>
                        </th>
                    </tr>
                    </thead>

                    <tbody id="tbody">
                    {empty name="pur_items"}
                    <tr>
                        <input type="hidden" name="item[0][id]">
                        <td width="5%"><input type="checkbox" name=""></td>
                        <td><input class="form-control" type="text" name="item[0][name]"></td>
                        <td><input class="form-control" type="text" name="item[0][description]"></td>
                        <td><input class="form-control" type="text" name="item[0][description]"></td>
                        <td><input class="form-control amount" type="text" name="item[0][amount]"></td>
                        <td>
                            <a class="u-link-v5 g-color-gray-light-v6 g-color-secondary&#45;&#45;hover g-text-underline&#45;&#45;none&#45;&#45;hover"
                               href="#">
                                <i class="fa fa-minus"></i>
                            </a>
                        </td>
                    </tr>
                    {else/}
                    {foreach name="pur_items" id="items" key="key"}
                    <tr>
                        <input type="hidden" name="item[{$key}][id]" value="{$items.id}">
                        <td><input class="form-control" type="text" name="item[{$key}][name]"
                                   value="{$items.name}"></td>
                        <td><input class="form-control" type="text" name="item[{$key}][description]"
                                   value="{$items.description}"></td>
                        <td><input class="form-control" type="text" name="item[{$key}][description]"
                                   value="{$items.description}"></td>
                        <td><input class="form-control amount" type="text" name="item[{$key}][amount]"
                                   value="{$items.amount}"></td>
                        <td>
                            <a class="u-link-v5 g-color-gray-light-v6 g-color-secondary&#45;&#45;hover g-text-underline&#45;&#45;none&#45;&#45;hover"
                               href="#">
                                <i class="fa fa-minus"></i>
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    {/empty}
                    </tbody>
                </table>-->

                <div class="form-group ">
                    <p><a title="選擇" onclick="service_products()" class="btn btn-primary btn-sm " href="#">選擇</a></p>

                    <table id="service_products" class="table table-hover table-striped table-sm datatable" width="100%">
                        <thead>
                        <th width="5%"><input type="checkbox" name=""></th>
                        <th width="5%">次序</th>
                        <th>編號</th>
                        <th>名稱</th>
                        <th width="15%">售價</th>
                        <th width="15%">數量</th>
                        <th width="15%">金額</th>

                        </thead>
                        <tbody>
                        {empty name="pur_items" }
                        {notempty name="service_product"}
                        {volist name="service_product" id="cp" key="key"}
                        <tr>
                            <input type="hidden" name="item[{$key}][product_id]" value="{$cp.product_id}">
                            <td width="5%"><input type="checkbox" name=""></td>
                            <td width="5%"><input type="number" name="item[{$key}][ordering]" value="{$cp.ordering}"style="width: 50%;"></td>
                            <td>{$cp.product_code}</td>
                            <td>{$cp.product_name}</td>
                            <td width="15%"><input type="number" class="product_price" name="item[{$key}][product_price]" value="{$cp.product_price}"style="width: 100%;"></td>
                            <td width="15%"><input type="number" class="quantity" name="item[{$key}][quantity]" value="{$cp.quantity}"style="width: 100%;"></td>
                            <td width="15%"><input class="amount" type="number" name="item[{$key}][amount]"  value="{$cp.amount}" style="width: 100%;"></td>
                        </tr>
                        {/volist}
                        {/notempty}
                        {/empty}
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="card-body">
                <form class="form-horizontal" action="lyear_forms_elements.html" method="post"
                      onsubmit="return false;">

                    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
                    <div class="row p-t-15">
                        <div class="col-xs-12 col-md-6">

                            <div class="form-group row">
                                <label class="col-md-3 control-label" for="total">總計:</label>
                                <div class="col-md-7">
                                    <input class="form-control" type="text" id="total" name="total"
                                           value="{$data.total|default=''}"
                                           placeholder="0.0">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 control-label" for="total_discount">特別折扣 (%):</label>
                                <div class="col-md-7">
                                    <input class="form-control" type="text" id="total_discount" name="total_discount"
                                           value="{$data.total_discount|default=''}"
                                           placeholder="0.0">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 control-label" for="deduction">
                                    特別折扣金額 :</label>
                                <div class="col-md-7">
                                    <input class="form-control" type="text" id="deduction" name="deduction"
                                           value="{$data.deduction|default=''}"
                                           placeholder="0.0">
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-md-6">
                            <div class="form-group row">
                                <label class="col-md-3 control-label" for="tax_rate">稅率(%):</label>
                                <div class="col-md-7">
                                    <input class="form-control" type="text" id="tax_rate"
                                           name="tax_rate"
                                           value="{$data.tax_rate|default=''}"
                                           placeholder="0.0">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 control-label" for="final_total">淨額:</label>
                                <div class="col-md-7">
                                    <input class="form-control" type="text" id="final_total"
                                           name="final_total"
                                           value="{$data.final_total|default=''}"
                                           placeholder="0.0">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-body">
                        <form class="form-horizontal" action="lyear_forms_elements.html" method="post"
                              onsubmit="return false;">

                            <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
                            <div class="row p-t-15">
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-1 control-label" for="terms_conditions">條款和條件</label>
                                        <div class="col-md-9">
                        <textarea class="form-control" id="terms_conditions" name="terms_conditions"
                                  size="1"
                                  value=""
                                  placeholder="{$data.terms_conditions|default=''}"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-1 control-label" for="terms">添加標準術語</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="text" id="terms"
                                                   name="terms"
                                                   value="{$data.terms|default=''}"
                                                   placeholder="">
                                        </div>
                                    </div>




                                    <div class="form-group row">
                                        <label class="col-md-1 control-label" for="owner_user_id">安全管理員</label>
                                        <div class="col-md-2">
                                            <select class="form-control" id="owner_user_id" name="owner_user_id" size="1">
                                                <option value="0">ken kuo</option>
                                                <option value="1">Admin Adaptive</option>
                                                <option value="2">Leo Wong</option>
                                                <option value="3">Luke Tam</option>
                                                <option value="4">Ron Kaluta</option>
                                                <option value="5">Rooky lu</option>
                                                <option value="6">Sandy Ng</option>
                                                <option value="7">Syatem User</option>
                                                <option value="8">Tiffany Cheng</option>
                                            </select>
                                        </div>

                                        <label class="col-md-1 control-label" for="assigned_user_id"></label>
                                        <div class="col-md-2">
                                            <select class="form-control" id="assigned_user_id" name="assigned_user_id" size="1">
                                                <option value="0">Ken Kuo</option>
                                                <option value="1">Admin Adaptive</option>
                                                <option value="2">Ken Kuo</option>
                                                <option value="3">Leo wong</option>
                                                <option value="4">Luke Tam</option>
                                                <option value="5">Ron Kaluta</option>
                                                <option value="6">Rooky lu</option>
                                                <option value="7">Sandy Ng</option>
                                                <option value="8">System User</option>
                                                <option value="9">Tiffany Cheng</option>
                                            </select>
                                        </div>

                                        <label class="col-md-1 control-label" for="visible_for">可見性</label>
                                        <div class="col-md-2">
                                            <select class="form-control" id="visible_for" name="visible_for" size="1">
                                                <option value="0">授權團隊</option>
                                                <option value="1">全部</option>
                                                <option value="2">自己的團隊</option>
                                                <option value="3">自己</option>
                                            </select>
                                        </div>

                                        <label class="col-md-1 control-label" for="team_id">分配給團隊</label>
                                        <div class="col-md-2">
                                            <select class="form-control" id="team_id" name="team_id" size="1">
                                                <option value="0">管理員</option>
                                                <option value="1">行銷</option>
                                                <option value="2">會員</option>
                                                <option value="3">銷售額</option>
                                                <option value="4">培訓</option>
                                                <option value="5">審判</option>


                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
        </form>
    </div>

    <hr>
    <div class="col-md-12" align="center">
        <button id="stockin-submit" type="button"
                class=" far fa-file-alt  btn flat btn-info dataFormSubmit  btn-sm  ">
            保存
        </button>
        &nbsp;
        <button class="btn btn-sm btn-default layer-close">關閉</button>
    </div>

</section>
{/block}

{block name="js"}

<script type="text/javascript">

    function service_products(){
        layer.open({
            type: 2,
            title: 'Products Information',
            area: ['800px', '500px'],
            content: '{:url("products/products?from_panel=service_products")}'
        })
    }

    $("#stockin-submit").click(function () {    // 提交按钮触发事件
        var form_action = $("#stockin-form").attr("action");    // 获取 表单的 提交地址
        // console.log(form_action);
        $.post(form_action, $("#stockin-form").serialize(), function (data) {
            layer.msg(data['msg']);
            if (data['code'] == 200) {
                parent.layer.closeAll();
                parent.$('#stockin-grid').bootstrapTable('refresh')
            }
        });
    });



    $('.layer-close').on('click', function () {
        parent.layer.closeAll();
    });

    $('.fa-plus').click(function () {
        let node = '';
        let index = $('.table').children('tbody').children('tr').length;
        node += '<tr><input type="hidden" name="item[' + index + '][id]"><td></td><td><input class="form-control" type="text" name="item[' + index + '][name]"></td><td><input class="form-control" type="text" name="item[' + index + '][description]"></td><td><input class="form-control" type="text" name="item[' + index + '][description]"></td><td><input class="form-control amount" type="text" name="item[' + index + '][amount]"></td><td><a class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover g-text-underline--none--hover" href="#"><i class="fa fa-minus"></i></a></td></tr>';
        $('.table').children('tbody').append(node);
    })

    $(document).on("click", '.fa-minus', function () {
        let len = 0;
        len = $('.table').children('tbody').children('tr').length;
        if (len > 1) {
            $(this).parents('tr').remove();
            total();
        }
    })

    $(document).on("change", ".amount", function () {
        total();
    })


    function total() {
        let total = 0.00;

        $(".amount").each(function () {
            total += parseFloat($(this).val());
            $("#total").val(total.toFixed(2));
        });
        amount();
    }



    $(document).on("change", "#deduction", function () {
        amount();
    });
    $(document).on("input propertychange", ".quantity", function () {
        amount();
    });
    $(document).on("input propertychange", ".product_price", function () {
        amount();
    });




/*
    function amount() {
        let total = parseFloat($("#total").val());
        let deduction = $("#deduction").val();

        if (deduction == '') {
            deduction = 0
        }


        let final_total = total - parseFloat(deduction);
        $("#final_total").val(final_total.toFixed(2));
    }
*/
    function amount(){
        let amount = 0.0;
        let total = 0.0;
        let quantity, product_price;
        $(".amount").each(function () {

            quantity = parseFloat($(this).parent().siblings().children('.quantity').val());
            product_price = parseFloat($(this).parent().siblings().children('.product_price').val());
            // total_discount = parseFloat($(this).parent().siblings().children('.amount').val());
          // console.log(quantity,product_price)
            amount = parseFloat(product_price * quantity);
            total += parseFloat(amount);

            $(this).val(amount.toFixed(1));
        });

        $("#total").val(total.toFixed(1));

        final_total();
    }

    function final_total(){
        let total_amount = 0.0;
        let final_total = 0.0;

        $("#final_total").val(final_total.toFixed(1));
        $("#total_amount").val(total_amount.toFixed(1));
        $("#h5").text('$'+total_amount.toFixed(1));

        payment_amount();
    }





</script>
{/block}