<div class="table-responsive">
    <a title="Add" onclick="room()" class="btn btn-primary btn-sm " href="#">
        <i class="fa fa-plus"></i> 新增
    </a>

    <div class=" float-right ">
        <form class="form-inline searchForm" id="searchForm" action="{:url('Stores/detail')}"
              method="GET">
            <input type="hidden" value="0" id="export_data" name="export_data">
            <div class="form-group pr-1">
                <input type="text" name="search" id="search" class="form-control"
                       placeholder="Search"
                       value="{$search|default=''}">
            </div>
            <div class="form-group pr-1">
                <button class="btn btn-sm btn-primary" type="submit" onclick="$('#export_data').val(0)"><i
                        class="fa fa-search"></i>
                    搜索
                </button>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive">

    <table id="room-grid" class="table-striped">

    </table>
</div>
{block name="js"}
<script type="text/javascript" >

    window.operateEvents={
        "click .edit" : function(e,value,row,index){room(row.id)},
        "click .del" : function(e,value,row,index){del(row.id)}
    }

    function operateFormatter(value,row,index){
        return [
            '<a class="btn btn-primary btn-xs edit" href="#"><i class="fa fa-pencil"></i></a>',
            '<a class="btn btn-danger btn-xs del" href="#"><i class="fa fa-trash"></i></a>',
        ].join('');
    }

    function room(id){
        if(id){
            var url = '{:url("rooms/edit?id=")}'+id
        }else{
            var url = '{:url("rooms/add")}'
        }

        layer.open({
            type:2,
            title:'New rooms',
            area:['400px','450px'],
            content: url
        });
    }


    function del(id){
        // const that = $(this)
        if(confirm('Are you sure to delete?')==false){
            return false;
        }else{
            $.ajax({
                url: "{:url('rooms/del')}",
                data: {
                    id: id,
                },
                type: "POST",
                success(res){
                    if(res.code == 200){
                        $('#room-grid').bootstrapTable('refresh');
                    }
                }
            })
        }
    }

    $(function(){
        $('#room-grid').bootstrapTable({
            url: "{$grid_url}",            //请求后台的URL（*）
            method: 'get',                                   //请求方式（*）
            queryParams: function (params) {
                return {
                    offset: params.offset,  //页码
                    limit: params.limit,   //页面大小
                    search : params.search, //搜索
                    order : params.order, //排序
                    ordername : params.sort, //排序
                    filter: params.filter,
                };
            },
            toolbar: "#room-toolbar",                    //工具按钮用哪个容器
            pagination: true,                                //是否显示分页（*）
            sidePagination:'server',                         //分页方式：client客户端分页，server服务端分页（*）
            buttonsClass:"btn-sm btn btn-sm btn-default",
            striped: true,                                   //是否显示行间隔色
            cookie: true,
            cookieIdTable: 'package_unit-Grid',
            showRefresh: true,                               //是否显示刷新按钮
            showColumns: true,                               //是否显示所有的列
            clickToSelect: true,                             //是否在单击行时选择复选框或radiobox
            stickyHeader: true,
            stickyHeaderOffsetLeft: '3em',
            stickyHeaderOffsetRight: '3em',
            filterControl: true,
            search: false,                                   //显示搜索框
            pageSize: 10,                                    //每页的记录行数（*）
            pageList: [10, 20, 50, 100],
            columns: [{
                checkbox: true,
                clickToSelect: true
            }, {
                field: 'id',
                title: 'ID',
                width: "120px",
                clickToSelect: true,                         //是否在单击行时选择复选框或radiobox
                sortable: true,                              //是否允许列可以排序
            }, {
                field: 'name',
                title: 'Name',
                searchable: true,
            }, {
                field: 'disabled',
                title: 'Value',
            } {
                field: 'operate',
                title: 'Action',
                width: '80px',
                clickToSelect: false,
                events: operateEvents,
                formatter: operateFormatter
            }, ]
        });
    })

</script>
{/block}