{extend name="public/base" /}
{block name='style'}
{css href="__PLUGIN__/fullcalendar/core/main.min.css"}
{css href="__PLUGIN__/fullcalendar/daygrid/main.min.css"}
{css href="__PLUGIN__/fullcalendar/bootstrap/main.min.css"}
{/block}
{block name='content'}

<!--数据列表页面-->
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- /.col -->
          <div class="col-md-10">
            <div class="card card-primary">
              <div class="card-body p-0">
                <!-- THE CALENDAR -->
                <div id="calendar"></div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
            <div class="col-md-2">

                    <a href="{:url('activities/calendar')}"
                       class="btn btn-block btn-{$calendar_share ? 'default' : 'primary'}">My</a>

                    <a href="{:url('activities/calendar')}?share=true"
                       class="btn btn-block btn-{$calendar_share ? 'primary' : 'default'}">Share</a>

                    <a href="{:url('activities/index')}" class="btn btn-block btn-default">List</a>


                <div style="padding-top:20px ">
                    <!-- #section:custom/widget-box -->
                    <div class="card card-outline card-primary" id="widget-box-type">
                        <div class="card-header">
                            <h3 class="card-title">Filter</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->

                        <div class="card-body" style="display: block;">
                            <div class="widget-main">
                                <div class="cl-list">
                                    <input type="checkbox" class="activity-type" name="activity_type" value="0"  />
                                    <span class="label label-lg label-yellow">Call</span>
                                </div>
                                <div class="cl-list">
                                    <input type="checkbox" class="activity-type" name="activity_type" value="1"  />
                                    <span class="label label-lg label-info">Meeting</span>
                                </div>
                                <div class="cl-list">
                                    <input type="checkbox" class="activity-type" name="activity_type" value="2"  />
                                    <span class="label label-lg label-success">Tasks</span>
                                </div>
                                <div class="cl-list">
                                    <input type="checkbox" class="activity-type" name="activity_type" value="3"  />
                                    <span class="label label-lg label-danger">Timeless</span>
                                </div>

                                <div class="cl-list">
                                    <input type="checkbox" class="activity-type" name="activity_type" value="3"  />
                                    <span class="label label-lg label-danger">Internal</span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                    <div class="widget-container-col ui-sortable">
                        <!-- #section:custom/widget-box -->
                        <div class="card card-outline card-primary">
                            <div class="card-header">
                                <h3 class="card-title">User</h3 >
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body" style="display: block;">
                                        <div class="cl-list">
                                            <input type="checkbox" class="activity-assigned" name="assigned_user_id" value="Luke">
                                            <span class="label label-lg label-default">Luke</span>
                                        </div>
                                <div class="cl-list">
                                    <input type="checkbox" class="activity-assigned" name="assigned_user_id" value="Luke">
                                    <span class="label label-lg label-default">Leo</span>
                                </div>
                                <div class="cl-list">
                                    <input type="checkbox" class="activity-assigned" name="assigned_user_id" value="Luke">
                                    <span class="label label-lg label-default">Rooky</span>
                                </div>
                            </div>
                        </div>

                    </div>

            </div>

        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->

</section>


{/block}


{block name='js'}
{js href="__PLUGIN__/fullcalendar/core/main.min.js"}
{js href="__PLUGIN__/fullcalendar/daygrid/main.min.js"}
{js href="__PLUGIN__/fullcalendar/timegrid/main.min.js"}
{js href="__PLUGIN__/fullcalendar/interaction/main.min.js"}
{js href="__PLUGIN__/fullcalendar/bootstrap/main.min.js"}

<script>
    $(function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid' ],
            header    : {
                left  : 'prev,next today',
                center: 'title',
                right : 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            selectable: true,
            dateClick: function(info) {
                console.log('clicked ' + info.dateStr);
            },
            select: function(info) {
                var start = moment(info.start);
                var end = moment(info.end);
                var month_day = start.format("HH")
                if(month_day == "00"){
                    var date_start = start.format("YYYY-MM-DD")+" "+moment().format('HH:mm:ss');
                    var date_end = start.format("YYYY-MM-DD")+" "+moment().add(1, 'hours').format("HH:mm:ss");
                }else{
                    var date_start = start.format("YYYY-MM-DD HH:mm:ss");
                    if(start.format("YYYY-MM-DD") == end.format("YYYY-MM-DD")) {
                        var date_end = end.format("YYYY-MM-DD HH:mm:ss");
                    } else {
                        var date_end = date_start;
                    }
                }

                var url = "{:url('activities/add')}?add_event=true&start_time=" + date_start + "&end_time=" + date_end;
                showActivity(url);
            },
            eventClick: function(info) {
                var url = "{:url('activities/edit')}?edit_event=true&id=" + info.event.id;
                showActivity(url);
            }
        });

        calendar.render();

        $('.activity-type').click(function () {
            var activity_type = parseInt(this.value);
            var checked = $(this).prop('checked');
            console.log(checked);
            $.post("{:url('Activities/typeFilter')}", {activity_type: activity_type, checked: checked}, function (result) {
                if (checked) {
                    $('#calendar').fullCalendar('refetchEvents')
                } else {
                    $('#calendar').fullCalendar('removeEvents', function (event) {
                        if ((event.activity_type == activity_type)) {
                            return true;
                        }
                    });
                }
            });
        })

        $('.activity-assigned').click(function () {
            var uid = parseInt(this.value);
            var checked = $(this).prop('checked');
            $.post("{:url('Activities/userFilter')}", {uid: uid, checked: checked}, function (result) {
                if (checked) {
                    $('#calendar').fullCalendar('refetchEvents')
                } else {
                    $('#calendar').fullCalendar('removeEvents', function (event) {
                        if ((event.assigned_user_id == uid)) {
                            return true;
                        }
                    });
                }
            });
        })

    });


    //判断日期是否是全天
    function getAllDay(start, end) {
        var start_his = start.indexOf("00:00:00");
        var end_his = end.indexOf("00:00:00");
        if (start_his == -1 || end_his == -1) {
            return false;
        } else {
            return true;
        }
    }


</script>
{/block}

