{extend name="public/base" /}
{block name='content'}
<!--数据列表页面-->
<section class="content">

    <!--顶部搜索筛选-->
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body table-responsive">
                    <div id="contacts-toolbar">
                        <a title="Add" class="btn btn-primary btn-sm " href="{:url('add')}">
                            <i class="fa fa-plus"></i> 新增
                        </a>


                    </div>
                    <table id="contacts-grid" class="table-striped">
                        <thead>
                        <tr>
                            <th data-field="check_status" data-checkbox="true"></th>
                            <th data-field="first_name" data-sortable="true" data-filter-control="input" data-formatter="showFm">狀態</th>
                            <th data-field="member_no" data-sortable="true" data-filter-control="input" data-width="120">編號</th>
                            <th data-field="title" data-sortable="true" data-filter-control="input">類別</th>
                            <th data-field="last_name" data-sortable="true" data-filter-control="input">名稱</th>
                            <th data-field="phone_mobile" data-sortable="true" data-filter-control="input">地址</th>
                            <th data-field="primary_address_street" data-sortable="true" data-visible="false" data-filter-control="input">備註</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <!-- 数据列表底部 -->
                <div class="card-footer">

                </div>

            </div>
        </div>
    </div>
</section>
{/block}

{block name='js'}
<script>

    function showFm(value, row){
        var show_url = "{:url('detail')}?id="+row.id
        var html = '<a href='+show_url+'>'+value+'</a>'
        return html;
    }

    $(function(){
        $('#contacts-grid').bootstrapTable({
            url: 'lists',
            toolbar: "#contacts-toolbar",
            pagination: true,
            sidePagination:'server',
            buttonsClass:"btn-sm btn btn-sm btn-default",
            striped: true,
            cookie: true,
            cookieIdTable: 'contacts-Grid',
            showRefresh: true,
            showColumns: true,
            clickToSelect: true,
            stickyHeader: true,
            stickyHeaderOffsetLeft: '3em',
            stickyHeaderOffsetRight: '3em',
            filterControl: true,
            pageSize: 10,
            pageList: [10, 20, 50, 100],
            onCheck: function(row,ele){
                $.get('contacts/check_one',{opt:'checked',id: row.id},function(data){
                    display_selected(data);
                })
            },
            onUncheck: function(row,ele){
                $.get('contacts/check_one',{opt:'unchecked',id: row.id},function(data){
                    display_selected(data);
                })
            },
            onCheckAll: function(rows){
                $.get('contacts/check_all',{opt:'checked'},function(data){
                    display_selected(data);
                })
            },
            onUncheckAll: function(rows){
                $.get('contacts/check_all',{opt:'unchecked'},function(){
                    display_selected(0);
                })
            }
        });

        $('.btn-search').click(function(){
            $.cookie('accountGrid.bs.table.pageNumber',1);
            //$.post('leads/clear_session',{component:'lead'})
        });


    })

</script>
{/block}
