{extend name="public/base" /}
{block name='content'}
{if $logged_num != ""}
&nbsp;&nbsp;<label>{$logged_num } logged in.</label> &nbsp;&nbsp;&nbsp;
<a href="{:url('logout')}" class="btn btn-danger" >Logout</a>
<hr>
<div><label>Test</label></div>
<form class="form-inline searchForm" id="searchForm" action="{:url('wa_logs/send_direct')}" method="get">
    <div class="input-group ">
       Phone: <input type="text" name="phone" id="phone" class="form-control">
    </div>

    <div class="input-group ">
       Content: <input type="text" name="content" id="cotent" class="form-control">
    </div>

    <div class="input-group">
        &nbsp;&nbsp;
        <button class="btn  btn-primary" type="submit" id="search_btn">
            Send
        </button>
    </div>
</form>
<hr>

{else/}
  <hr>
   {if $error != ""}
      {$error}
   {else/}
       <img src="data:image/png;base64,{$res}" width="200px" height="200px" />
   {/if}    
{/if}
{/block}
