<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>{$current_permission.title}-{$sysConfig.sitename}</title>

    <meta name="keywords" content="{$sysConfig.keywords}" />
    <meta name="description" content="{$sysConfig.description}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    {include file="public:head" /}
    <!-- Custom style -->
    {block name="style"}{/block}
    <!-- Theme style -->
    {css href="__CSS__/adminlte.min.css" /}
    <!-- Custom style -->
    {css href="__CSS__/application.css" /}

    {block name="head_js"}{/block}
</head>
<body class="hold-transition sidebar-mini {$user.skin}">
<div class="wrapper">

    <!-- Main content -->
    <!--    <section class="content pl-2 pt-2">-->
    <!--        <div class="container-fluid container-layer">-->
    <!--            <div class="container-fluid">-->
    <!--                <div class="card-body">-->
    <!-- DIRECT CHAT PRIMARY -->
    <div class="card card-prirary cardutline direct-chat direct-chat-primary" style="margin: 0;">
        <div class="card-header">
            <h3 class="card-title">
                {notempty name="member"}
                {$member.first_name}
                {/notempty}
            </h3>

            <div class="card-tools">
                <span data-toggle="tooltip" title="3 New Messages" class="badge bg-primary">3</span>
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                        class="fas fa-minus"></i>
                </button>
                <!--                    <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts"-->
                <!--                            data-widget="chat-pane-toggle">-->
                <!--                        <i class="fas fa-comments"></i></button>-->
                <button type="button" class="btn btn-tool" id="layer-close"><i
                        class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages">
                <!-- Message. Default to the left -->
                {volist name="waLogInfo" id="waLogData"}
                {if condition="$waLogData.from_me eq 0"}
                <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-left">{$waLogData.member_name}</span>
                        <span class="direct-chat-timestamp float-right">{$waLogData.created_time}</span>
                    </div>
                    <!-- /.direct-chat-infos -->
                    <img class="direct-chat-img" src="/static/images/avatar3.png" alt="Message User Image">
                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        {$waLogData.content}
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                {else /}
                <!-- /.direct-chat-msg -->

                <!-- Message to the right -->
                <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-right">{$waLogData.username}</span>
                        <span class="direct-chat-timestamp float-left">{$waLogData.created_time}</span>
                    </div>
                    <!-- /.direct-chat-infos -->
                    <img class="direct-chat-img" src="/static/images/avatar2.png" alt="Message User Image">
                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        {$waLogData.content}
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                {/if}
                {/volist}
                <input type="hidden" id="addPan">

                <!-- /.direct-chat-msg -->
            </div>
            <!--/.direct-chat-messages-->

            <!-- Contacts are loaded here -->
            <div class="direct-chat-contacts">
                <ul class="contacts-list">
                    <li>
                        <a href="#">

                            <img class="contacts-list-img" src="/static/images/tx1.jpg">

                            <div class="contacts-list-info">
                                          <span class="contacts-list-name">
                                            Count Dracula
                                            <small class="contacts-list-date float-right">2/28/2015</small>
                                          </span>
                                <span class="contacts-list-msg">How have you been? I was...</span>
                            </div>
                            <!-- /.contacts-list-info -->
                        </a>
                    </li>
                    <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
            </div>
            <!-- /.direct-chat-pane -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <form id="wa_info" onkeydown="if(event.keyCode==13)return false;">
                <div class="input-group">
                    <input type="hidden" id="remote_jid" name="remote_jid" value="{$remote_jid}">

                    <textarea class="form-control" id="content" name="content"
                              size="1" onkeydown="enter()"
                              value="">{$item.expiry_date|default=''}</textarea>

                    <span class="input-group-append">
                                      <button type="button" class="btn btn-sm btn-primary submit">發送</button>
                                    </span>
                </div>


                <div class="form-group row pt-2" style="align-items: baseline;">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="remote_jid">發送號碼</label>
                            <div class="col-md-7">
                                <select class="form-control select2" type="text" id="sender_jid" name="sender_jid">
                                    {foreach name=":getWaAcc()" id='opt'}
                                    <option value="{$opt.mobile}" {if $opt.mobile==$sender_jid}selected{/if}>
                                        {$opt.mobile}
                                    </option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="templates">消息模板</label>
                            <div class="col-md-7">
                                <select class="form-control select2" type="text" id="templates" name="templates">
                                    <option value="">&nbsp;</option>
                                    {foreach name=":getOptions('templates')" id='opt'}
                                    <option value="{$opt.id}" {if isset($item) &&
                                            $item.templates==$opt.id}selected{/if} data-content="{$opt.val}">
                                        {$opt.name}
                                    </option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card-footer-->
    </div>
    <!--/.direct-chat -->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->

</div>
{include file="public:foot" /}

<!-- inline scripts related to this page -->
</body>
<script type="text/javascript">
    let enter = function() {
        if (window.event.keyCode == 13) {
            let rawData = $("#content").val();
            $("#content").val(rawData + "\r\n");
        }
    };

    $(document).ready(function () {

        $("#templates").on('select2:select', function (e) {
            let content = e.params.data.element.dataset.content;
            // console.log(content);
            $("#content").text(content)
        });

        $(".submit").click(function () {
            let node = '';
            let url = '{:url("wa_accounts/send_msg")}';
            let params = $("#wa_info").serialize();
            $.ajax({
                url: url,
                data: params,
                type: "POST",
                success(res) {
                    if (res.code === 200) {
                        node += '<div class="direct-chat-msg right">\n' +
                            '                                    <div class="direct-chat-infos clearfix">\n' +
                            '                                        <span class="direct-chat-name float-right">' + res.name + '</span>\n' +
                            '                                        <span class="direct-chat-timestamp float-left">\n' + res.time +
                            '                                                            ' +
                            '                                        </span>\n' +
                            '                                    </div>\n' +
                            '                                    <!-- /.direct-chat-infos -->\n' +
                            '                                    <img class="direct-chat-img" src="/static/images/avatar2.png" alt="Message User Image">\n' +
                            '                                    <!-- /.direct-chat-img -->\n' +
                            '                                    <div class="direct-chat-text">\n' + res.content +
                            '                                        \n' +
                            '                                    </div>\n' +
                            '                                    <!-- /.direct-chat-text -->\n' +
                            '                                </div>';
                        $("#addPan").before(node);
                    }
                }
            });
        });

        $('#layer-close').on('click', function () {
            parent.layer.closeAll();
        });

    });

</script>
</html>