{extend name='public/popup' /}
{block name='content'}
<section class="content">
    <form class="form-horizontal" id="ar-form" method="post" action="{$act}" enctype="multipart/form-data">
        <input type="hidden" id="id" name="id" value="{$item.id|default=''}">

        <div class="row pt-2">
            <div class="col-xs-12 col-md-12">

                <div class="form-group row">
                    <label class="col-md-2 control-label" for="msg_type">Category</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="msg_type" name="msg_type"
                               value="{$data.msg_type|default=''}"
                               >
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 control-label" for="template_id">Template</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="template_id" name="template_id"
                               value="{$data.template_id|default=''}"
                               >
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 control-label" for="subject">Subject</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="subject" name="subject"
                               value="{$data.subject|default=''}"
                               >
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-md-2 control-label" for="delivery_time">Delivery time</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="delivery_time" name="delivery_time"
                               value="{$data.delivery_time|default=''}"
                               >
                    </div>
                </div>



                <div class="form-group row">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-8 ">
                                  <textarea class="form-control" id="content" name="content"
                                            rows="10"
                                            value="{$data.content|default=''}">{$data.content|default=''}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <hr>
    <div class="col-md-12" align="center">
        <button id="ar-submit" type="button" class=" far fa-file-alt  btn flat btn-info dataFormSubmit  btn-sm  ">
            Save
        </button>
        &nbsp;
        <button class="btn btn-sm btn-default layer-close">Close</button>
    </div>

</section>


{/block}
{block name="js"}

<script type="text/javascript">
    $(function () {
        $("#ar").change(function () {
            let file = this.fields[0];
            $("#url").text(file.name)
        })
    })


    $("#ar-submit").click(function () {    // 提交按钮触发事件
        var formAction = $("#ar-form").attr("action");
        var formData= $("#ar-form").serializeFiles();
        $.ajax({
            url         : formAction,
            data        : formData,
            cache       : false,
            contentType : false,
            processData : false,
            type        : 'POST',
            success     : function(data, textStatus, jqXHR){
                layer.msg(data['msg']);
                if (data['code'] == 200) {
                    layer_close()
                    parent.$('#ar-grid').bootstrapTable('refresh')
                }
            }
        });

    });



</script>
{/block}