{extend name='public/layer_base' /}
{block name='content'}

<section class="content">
    <div>
        <form class="form-horizontal" id="stockout-form" method="post" action="{$act}">

            <input type="hidden" id="id" name="id" value="{$item.id|default=''}">
            <input type="hidden" id="supplier_id" name="supplier_id" value="{$item.supplier_id|default=''}">
            <div class="row pt-2">
                <div class="col-xs-12 col-md-12">

                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="salesorder_no">編號</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" id="salesorder_no" name="salesorder_no"
                                   value="{$data.salesorder_no|default=''}"
                                   placeholder="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="store_id">店鋪</label>
                        <div class="col-md-7">
                            <select name="store_id" id="store_id" class="form-control">
                                <option value=""></option>
                                {volist name="storeArr" id="store"}
                                <option value="{$store.id}">{$store.name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="created_at">日期</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" id="created_at" name="created_at"
                                   value="{$data.created_at|default=''}"
                                   placeholder="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="warehouse_id">貨倉</label>
                        <div class="col-md-7">
                            <select class="form-control" id="warehouse_id" name="warehouse_id" size="1" value="{$item.warehouse_id|default=''}">
                                <option value=""></option>
                                {volist name="warehouse" id='wh'}
                                <option value="{$wh.id}">{$wh.name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="abstract">備註</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" id="abstract"
                                   name="abstract"
                                   value="{$data.abstract|default=''}"
                                   placeholder="">
                        </div>
                    </div>

                    <div class="form-group ">
                        <p><a title="選擇" onclick="service_products()" class="btn btn-primary btn-sm " href="#">選擇</a></p>

                        <table id="service_products" class="table table-hover table-striped table-sm datatable" width="100%">
                            <thead>
                            <th width="5%"><input type="checkbox" name=""></th>
                            <th width="5%">次序</th>
                            <th>編號</th>
                            <th>名稱</th>
                            <th width="15%">售價</th>
                            <th width="15%">數量</th>
                            <th width="15%">金額</th>

                            </thead>
                            <tbody>
                            {empty name="pur_items" }
                            {notempty name="service_product"}
                            {volist name="service_product" id="cp" key="key"}
                            <tr>
                                <input type="hidden" name="item[{$key}][product_id]" class="product_id" value="{$cp.product_id}">
                                <td width="5%"><input type="checkbox" name=""></td>
                                <td width="5%"><input type="number" name="item[{$key}][ordering]" value="{$cp.ordering}"style="width: 50%;"></td>
                                <td>{$cp.product_code}</td>
                                <td>{$cp.product_name}</td>
                                <td width="15%"><input type="number" class="product_price" name="item[{$key}][product_price]" value="{$cp.product_price}"style="width: 100%;"></td>
                                <td width="15%"><input type="number" class="quantity" name="item[{$key}][quantity]" value="{$cp.quantity}"style="width: 100%;"></td>
                                <td width="15%"><input class="amount" type="number" name="item[{$key}][amount]"  value="{$cp.amount}" style="width: 100%;"></td>

                            </tr>
                            {/volist}
                            {/notempty}
                            {/empty}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <hr>
    <div class="col-md-12" align="center">
        <button id="stockout-submit" type="button"
                class=" far fa-file-alt  btn flat btn-info dataFormSubmit  btn-sm  ">
            保存
        </button>
        &nbsp;
        <button class="btn btn-sm btn-default layer-close">刪除</button>
    </div>

</section>
{/block}

{block name="js"}

<script type="text/javascript">

    $("#stockout-submit").click(function () {    // 提交按钮触发事件
        var form_action = $("#stockout-form").attr("action");    // 获取 表单的 提交地址
        $.post(form_action, $("#stockout-form").serialize(), function (data) {
            layer.msg(data['msg']);
            if (data['code'] == 200) {
                parent.layer.closeAll();
                parent.$('#stockout-grid').bootstrapTable('refresh')
            }
        });
    });

    $('.layer-close').on('click', function () {
        parent.layer.closeAll();
    });


    function service_products(){
        let ids = [];
        $(".product_id").each(function () {
            ids.push($(this).val());
        });
        layer.open({
            type: 2,
            title: 'Products Information',
            area: ['800px', '500px'],
            content: '{:url("products/products?from_panel=service_products&ids=")}'+ids
        })
    }
</script>
{/block}